<template>
<div class="WebsiteLanguage">
  <section class="content-header">
    <h1>
      Email templates
      <small>YamiYami Settings</small>
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">Email templates

      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">

        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href=".SettingsEmailTemplatesAccountTab" data-toggle="tab"><b>Account</b></a></li>
            <li><a href=".SettingsEmailTemplatesInvoiceTab" data-toggle="tab"><b>Invoice</b></a></li>
            <li><a href=".SettingsEmailTemplatesOrderTab" data-toggle="tab"><b>Order</b></a></li>
            <li><a href=".SettingsEmailTemplatesResrvaionsTab" data-toggle="tab"><b>Resrvaions</b></a></li>
            <li><a href=".SettingsEmailTemplatesBookingsTab" data-toggle="tab"><b>Bookings</b></a></li>
            <li><a href=".SettingsEmailTemplatesFeedbackTab" data-toggle="tab"><b>Feedback</b></a></li>
          </ul>
          <div class="row" style="padding: 10px 10px 20px 10px;">
            <div class="col-xs-3">
              <ul class="nav nav-tabs tabs-left sideways">
                <li class="active"><a href="#home-v" data-toggle="tab">1</a></li>
                <li><a href="#profile-v" data-toggle="tab">2</a></li>
                <li><a href="#messages-v" data-toggle="tab">3</a></li>
                <li><a href="#settings-v" data-toggle="tab">4</a></li>
              </ul>
            </div>
            <div class="col-xs-9">

              <div class="tab-content">
                <div class="tab-pane SettingsEmailTemplatesAccountTab active">
                  <CKEditor v-model="Account"></CKEditor>
                </div>
                <div class="tab-pane SettingsEmailTemplatesInvoiceTab">
                  <CKEditor v-model="Invoice"></CKEditor>
                </div>
                <div class="tab-pane SettingsEmailTemplatesOrderTab">
                  <CKEditor v-model="Order"></CKEditor>
                </div>
                <div class="tab-pane SettingsEmailTemplatesResrvaionsTab">
                  <CKEditor v-model="Resrvaions"></CKEditor>
                </div>
                <div class="tab-pane SettingsEmailTemplatesBookingsTab">
                  <CKEditor v-model="Bookings"></CKEditor>
                </div>
                <div class="tab-pane SettingsEmailTemplatesFeedbackTab">
                  <CKEditor v-model="Feedback"></CKEditor>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>
</template>

<script>
import CKEditor from '@/components/CKEditor'

export default {
  name: 'EmailTemplates',
  components: {
    CKEditor
  },
  data: function () {
    return {
      Account: '',
      Invoice: '',
      Order: '',
      Resrvaions: '',
      Bookings: '',
      Feedback: ''
    }
  }
}
</script>
