<template>
<div class="MenuImage">
  <section class="content-header">
    <h1>
      Menu Images
      <small>YamiYami Settings</small>
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">Menu Images</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">
        <div class="nav-tabs-custom" style="margin-top: 30px;">
          <ul class="nav nav-tabs">
            <li class="active"><a href=".SettingsMenuImagesCategory" data-toggle="tab"><b>Menu Category</b></a></li>
            <li><a href=".SettingsMenuImagesCardItem" data-toggle="tab"><b>Menu Card Item</b></a></li>
            <li><a href=".SettingsMenuImagesItemType" data-toggle="tab"><b>Card Item Type</b></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane SettingsMenuImagesCategory active">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal smaller :height="360" type="green">
                  <template #button>
                    <span class="btn btn-info">Add Menu Category</span>
                  </template>
                  <template #title>
                    Menu Category
                  </template>
                  <form style="margin-top: 20px;">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="uploader">
                      <input id="file-upload" type="file" name="fileUpload" accept="image/*">

                      <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <div>Select a file or drag here</div>
                          <div id="notimage" class="hidden">Please select an image</div>
                          <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                        </div>
                        <div id="response" class="hidden">
                          <div id="messages"></div>
                          <progress class="progress" id="file-progress" value="0">
                            <span>0</span>%
                          </progress>
                        </div>
                      </label>
                    </div>
                     <div class="form-group">
                      <a class="btn btn-primary" style="float: right;margin-top: 10px;"> Add Menu Category </a>
                    </div>
                  </form>
                </BsModal>
              </div>
              <DataTable :has_data="menuCategory.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Category Image</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in menuCategory" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td><img :src="data.image" height="35px;"></td>
                  <td>
                    <BsModal smaller :height="360" type="green">
                      <template #button>
                        <span class="btn btn-info btn-table"><i class="fa fa-edit"></i></span>
                      </template>
                      <template #title>
                        Menu Category
                      </template>
                      <form style="margin-top: 20px;">
                        <div class="form-group">
                          <label>Category Name</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="uploader">
                          <input id="file-upload" type="file" name="fileUpload" accept="image/*">

                          <label for="file-upload" id="file-drag">
                            <img id="file-image" src="#" alt="Preview" class="hidden">
                            <div id="start">
                              <i class="fa fa-download" aria-hidden="true"></i>
                              <div>Select a file or drag here</div>
                              <div id="notimage" class="hidden">Please select an image</div>
                              <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                            </div>
                            <div id="response" class="hidden">
                              <div id="messages"></div>
                              <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                              </progress>
                            </div>
                          </label>
                        </div>
                         <div class="form-group">
                          <a class="btn btn-primary" style="float: right;margin-top: 10px;"> Add Menu Category </a>
                        </div>
                      </form>
                    </BsModal>
                    <a href="#" class="btn btn-table btn-success"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane SettingsMenuImagesCardItem">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal smaller :height="360" type="green">
                  <template #button>
                    <span class="btn btn-info">Add Menu Card Item</span>
                  </template>
                  <template #title>
                    Menu Card Item
                  </template>
                  <form style="margin-top: 20px;">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="uploader">
                      <input id="file-upload" type="file" name="fileUpload" accept="image/*">

                      <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <div>Select a file or drag here</div>
                          <div id="notimage" class="hidden">Please select an image</div>
                          <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                        </div>
                        <div id="response" class="hidden">
                          <div id="messages"></div>
                          <progress class="progress" id="file-progress" value="0">
                            <span>0</span>%
                          </progress>
                        </div>
                      </label>
                    </div>
                     <div class="form-group">
                      <a class="btn btn-primary" style="float: right;margin-top: 10px;"> Add Menu Category </a>
                    </div>
                  </form>
                </BsModal>
              </div>
              <DataTable :has_data="cardItem.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Menu Card Item</th>
                  <th>Category Image</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in cardItem" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>{{ data.item }}</td>
                  <td><img :src="data.image" height="35px;"></td>
                  <td>
                    <BsModal smaller :height="360" type="green">
                      <template #button>
                        <span class="btn btn-info btn-table"><i class="fa fa-edit"></i></span>
                      </template>
                      <template #title>
                        Menu Card Item
                      </template>
                      <form style="margin-top: 20px;">
                        <div class="form-group">
                          <label>Category Name</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="uploader">
                          <input id="file-upload" type="file" name="fileUpload" accept="image/*">

                          <label for="file-upload" id="file-drag">
                            <img id="file-image" src="#" alt="Preview" class="hidden">
                            <div id="start">
                              <i class="fa fa-download" aria-hidden="true"></i>
                              <div>Select a file or drag here</div>
                              <div id="notimage" class="hidden">Please select an image</div>
                              <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                            </div>
                            <div id="response" class="hidden">
                              <div id="messages"></div>
                              <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                              </progress>
                            </div>
                          </label>
                        </div>
                         <div class="form-group">
                          <a class="btn btn-primary" style="float: right;margin-top: 10px;"> Add Menu Card Item </a>
                        </div>
                      </form>
                    </BsModal>
                    <a href="#" class="btn btn-table btn-success"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane SettingsMenuImagesItemType">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal smaller :height="360" type="green">
                  <template #button>
                    <span class="btn btn-info">Menu Card Item Type</span>
                  </template>
                  <template #title>
                    Menu Card Item Type
                  </template>
                  <form style="margin-top: 20px;">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="uploader">
                      <input id="file-upload" type="file" name="fileUpload" accept="image/*">

                      <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <div>Select a file or drag here</div>
                          <div id="notimage" class="hidden">Please select an image</div>
                          <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                        </div>
                        <div id="response" class="hidden">
                          <div id="messages"></div>
                          <progress class="progress" id="file-progress" value="0">
                            <span>0</span>%
                          </progress>
                        </div>
                      </label>
                    </div>
                     <div class="form-group">
                      <a class="btn btn-primary" style="float: right;margin-top: 10px;"> Add Menu Card Item Type </a>
                    </div>
                  </form>
                </BsModal>
              </div>
              <DataTable :has_data="itemType.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Menu Card Item</th>
                  <th>Category Image</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in itemType" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>{{ data.item }}</td>
                  <td><img :src="data.image" height="35px;"></td>
                  <td>
                    <BsModal smaller :height="360" type="green">
                      <template #button>
                        <span class="btn btn-info btn-table"><i class="fa fa-edit"></i></span>
                      </template>
                      <template #title>
                        Menu Card Item Type
                      </template>
                      <form style="margin-top: 20px;">
                        <div class="form-group">
                          <label>Category Name</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="uploader">
                          <input id="file-upload" type="file" name="fileUpload" accept="image/*">

                          <label for="file-upload" id="file-drag">
                            <img id="file-image" src="#" alt="Preview" class="hidden">
                            <div id="start">
                              <i class="fa fa-download" aria-hidden="true"></i>
                              <div>Select a file or drag here</div>
                              <div id="notimage" class="hidden">Please select an image</div>
                              <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                            </div>
                            <div id="response" class="hidden">
                              <div id="messages"></div>
                              <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                              </progress>
                            </div>
                          </label>
                        </div>
                         <div class="form-group">
                          <a class="btn btn-primary" style="float: right;margin-top: 10px;"> Add Menu Card Item Type </a>
                        </div>
                      </form>
                    </BsModal>
                    <a href="#" class="btn btn-table btn-success"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</template>

<script>
import DataTable from '@/components/DataTable.vue'
import BsModal from '@/components/BsModal.vue'
import { mapState } from 'vuex'

export default {
  name: 'MenuImage',
  components: {
    DataTable, BsModal
  },
  computed: {
    ...mapState({
      menuCategory: state => state.settings.menuImage.menuCategory,
      cardItem: state => state.settings.menuImage.cardItem,
      itemType: state => state.settings.menuImage.itemType
    })
  },
  created: function () {
    this.$store.dispatch('settings/getMenuImageData')
  }
}
</script>
