<template>
<div class="WebsiteLanguage">
  <section class="content-header">
    <h1>
      Policy and Terms
      <small>YamiYami Settings</small>
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">Policy and Terms

      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">

        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href=".SettingsPrivacyTermCurrentTab" data-toggle="tab"><b>Policy and Terms</b></a></li>
            <li><a href=".SettingsPrivacyTermDeniedTab" data-toggle="tab"><b>Policy</b></a></li>
            <li><a href=".SettingsPrivacyTermOnHoldTab" data-toggle="tab"><b>Company Policy</b></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane SettingsPrivacyTermCurrentTab active">
              <CKEditor v-model="policyAndTermsEditor"></CKEditor>
            </div>
            <div class="tab-pane SettingsPrivacyTermDeniedTab">
              <CKEditor v-model="policyEditor"></CKEditor>
            </div>
            <div class="tab-pane SettingsPrivacyTermOnHoldTab">
              <CKEditor v-model="companyPolicyEditor"></CKEditor>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
</template>

<script>
import CKEditor from '@/components/CKEditor'

export default {
  name: 'PolicyAndTerms',
  components: {
    CKEditor
  },
  data: function () {
    return {
      policyAndTermsEditor: '',
      policyEditor: '',
      companyPolicyEditor: ''
    }
  }
}
</script>
