<template>
<div class="SettingsAdmin">
  <section class="content-header">
    <h1>
      Add Admin
      <small>YamiYami Settings</small>
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">Add Admin</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">
        <div class="text-right" style="margin-bottom: 20px;">
          <BsModal
            :smaller="true"
            :height="600"
            type="green"
          >
            <template #button>
              <span class="btn btn-info" @click="adminData=JSON.parse(JSON.stringify(adminDefaultData))">Add New Admin</span>
            </template>
            <template #title>
              ADD NEW ADMINISTRATOR
            </template>
            <FormSettingsAdmin
              :errors="errors"
              :adminData="adminData"
            ></FormSettingsAdmin>
            <template #footer>
              <a class="btn btn-primary" style="float: right;" @click.prevent="submitLanguageForm()"> Save</a>
            </template>
          </BsModal>
        </div>
        <!-- Data Table -->
        <div class="">

          <DataTable :has_data="datas.length>0" :datas="datas">
            <template #header>
              <th class="id-column">ID.</th>
              <th>Image</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Services</th>
              <th class="option-column">Options</th>
            </template>
            <tr v-for="(data, index) in datas" :key="index">
              <td>#{{ data.id }}</td>
              <td>
                <img v-if="data.image" style="max-height:35px; max-width:35px" :src="data.image">
                <img v-if="!data.image" style="max-height:35px; max-width:35px" src="/images/user1-128x128.jpg">
              </td>
              <td>{{ data.first_name }} {{ data.last_name }}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.telephone_number }}</td>
              <td>
                <span v-for="(servicePlace, index) in JSON.parse(data.services)" :key="index">
                  {{servicePlace}}
                  <span v-if="(index + 1) < JSON.parse(data.services).length">,</span>
                </span>
              </td>
              <td>
                <BsModal
                    :smaller="true"
                    :height="600"
                    type="green" >
                  <template #button>
                    <span class="btn btn-info btn-table" @click="adminData=JSON.parse(JSON.stringify(data))">
                      <i class="fa fa-eye"></i>
                    </span>
                  </template>
                  <template #title>
                    SHOW ADMINISTRATOR
                  </template>
                  <FormSettingsAdmin
                    :errors="errors"
                    :adminData="adminData"
                  ></FormSettingsAdmin>
                  <template #footer>
                    <a class="btn btn-primary" style="float: right;" @click.prevent="submitLanguageForm(data.id)"> Save</a>
                  </template>
                </BsModal>
                <BsModal
                    :smaller="true"
                    :height="600"
                    type="green" >
                  <template #button>
                    <span class="btn btn-primary btn-table" @click="adminData=JSON.parse(JSON.stringify(data))">
                      <i class="fa fa-edit"></i>
                    </span>
                  </template>
                  <template #title>
                    EDIT ADMINISTRATOR
                  </template>
                  <FormSettingsAdmin
                    :errors="errors"
                    :adminData="adminData"
                  ></FormSettingsAdmin>
                  <template #footer>
                    <a class="btn btn-primary" style="float: right;" @click.prevent="submitLanguageForm(data.id)"> Save</a>
                  </template>
                </BsModal>
                <BsModal
                  :smaller="true"
                  :height="1"
                  type="red"
                >
                  <template #button>
                    <span class="btn btn-primary btn-table btn-table"><i class="fa fa-remove"></i></span>
                  </template>
                  <template #title>
                    REMOVE ADMIN
                  </template>
                  <template #footer>
                    <a class="btn btn-danger" style="float: right;" @click.prevent="removeAdmin(data.id)"> Confirm</a>
                  </template>
                </BsModal>
              </td>
            </tr>
          </DataTable>
        </div>

      </div>
    </div>
  </section>
</div>
</template>

<script>
import DataTable from '@/components/DataTable.vue'
import BsModal from '@/components/BsModal.vue'
import FormSettingsAdmin from '@/components/FormSettingsAdmin.vue'
import { mapState } from 'vuex'

export default {
  name: 'SettingsAdmin',
  components: {
    DataTable, BsModal, FormSettingsAdmin
  },
  data: function () {
    return {
      adminData: {},
      adminDefaultData: {
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        services: '',
        telephone_number: '',
        image: ''
      }
    }
  },
  computed: {
    ...mapState({
      datas: state => state.settings.settingsAdmin.admins,
      errors: state => state.settings.settingsAdmin.errors
    })
  },
  methods: {
    submitLanguageForm (adminId = null) {
      // Submit form from here
      let vm = this
      vm.$store.dispatch('settings/saveSettingsAdminData', {
        vm: vm,
        adminId: adminId,
        adminData: vm.adminData
      })
    },
    removeAdmin (adminId) {
      this.$emit('closeModal')
      this.$store.dispatch('settings/removeSettingsAdminData', {
        vm: this,
        adminId: adminId
      })
    }
  },
  created () {
    this.$store.dispatch('settings/getSettingsAdminData', {
      vm: this
    })
  }
}
</script>
