<template>
<div class="MenuImage">
  <section class="content-header">
    <h1>
      Website Setting
      <small>YamiYami Settings</small>
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">Website Setting</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">
        <div class="nav-tabs-custom" style="margin-top: 30px;">
          <ul class="nav nav-tabs">
            <li class="active"><a href=".SettingsWebsiteCurrency" data-toggle="tab"><b>Currency</b></a></li>
            <li><a href=".SettingsWebsitePrefix" data-toggle="tab"><b>Prefix</b></a></li>
            <li><a href=".SettingsWebsiteWebsiteTitle" data-toggle="tab"><b>Website Title</b></a></li>
            <li><a href=".SettingsWebsiteUploadLogo" data-toggle="tab"><b>Upload Logo</b></a></li>
            <li><a href=".SettingsWebsiteHomepageImages" data-toggle="tab"><b>Homepage Images</b></a></li>
            <li><a href=".SettingsWebsiteZipCode" data-toggle="tab"><b>Zip Code</b></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane SettingsWebsiteCurrency active">
              <!-- Data Table -->
              <table class="table table-striped table-primary">
                <tbody>
                  <tr>
                    <td>Currency</td>
                    <td>
                      <label>
                        <iradio v-model="Currency" name="Currency" setValue="€ Euro"></iradio>
                        € Euro
                      </label>
                    </td>
                    <td>
                      <label>
                        <iradio v-model="Currency" name="Currency" setValue="$ Dollar"></iradio>
                        $ Dollar
                      </label>
                    </td>
                    <td style="width: 15%">
                      <a href="#" class="btn btn-success btn-table">Save</a>
                      <a href="#" class="btn btn-primary btn-table">Edit</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Currency Type</td>
                    <td>
                      <label>
                        <iradio v-model="CurrencyType" name="CurrencyType" setValue="€ 250"></iradio>
                        € 250
                      </label>
                    </td>
                    <td>
                      <label>
                        <iradio v-model="CurrencyType" name="CurrencyType" setValue="250 €"></iradio>
                        250 €
                      </label>
                    </td>
                    <td style="width: 15%">
                      <a href="#" class="btn btn-success btn-table">Save</a>
                      <a href="#" class="btn btn-primary btn-table">Edit</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Sign For Price</td>
                    <td>
                      <label>
                        <iradio v-model="CurrencySign" name="CurrencySign" setValue="Coma"></iradio>
                        Coma
                      </label>
                    </td>
                    <td>
                      <label>
                        <iradio v-model="CurrencySign" name="CurrencySign" setValue="Point"></iradio>
                        Point
                      </label>
                    </td>
                    <td style="width: 15%">
                      <a href="#" class="btn btn-success btn-table">Save</a>
                      <a href="#" class="btn btn-primary btn-table">Edit</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane SettingsWebsitePrefix">
              <!-- Data Table -->
              <table id="example1" class="table table-striped table-primary">
                <tbody>
                    <tr>
                        <td style="width: 15%">Order Prefix</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Text input">
                        </td>
                         <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                        <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Reservation Prefix</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Text input">
                        </td>
                        <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                        <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Takeaway Prefix</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Text input">
                        </td>
                        <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                        <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Booking Prefix</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Text input">
                        </td>
                         <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                        <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Invoice Prefix</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Text input">
                        </td>
                         <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                        <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Payouts Prefix</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Text input">
                        </td>
                        <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                        <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                    </tr>
                    <tr>
                        <td>User Prefix</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Text input">
                        </td>
                        <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                        <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Client Prefix</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Text input">
                        </td>
                        <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                        <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                    </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane SettingsWebsiteWebsiteTitle">
              <!-- Data Table -->
              <table id="example1" class="table table-striped table-primary">
                <tbody>
                  <tr>
                    <td style="width: 15%">Website Title</td>
                    <td>
                        <input type="text" class="form-control" placeholder="Text input">
                    </td>
                     <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                    <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane SettingsWebsiteUploadLogo">
              <!-- Data Table -->
              <table id="example1" class="table table-striped table-primary">
                  <tbody>
                      <tr>
                          <td style="width: 15%">Website Logo</td>
                          <td>
                              <input type="file" class="form-control" placeholder="Text input">
                          </td>
                           <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                          <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                      </tr>
                      <tr>
                          <td style="width: 15%">Website Favicon</td>
                          <td>
                              <input type="file" class="form-control" placeholder="Text input">
                          </td>
                           <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                          <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                      </tr>

                  </tbody>
              </table>
            </div>
            <div class="tab-pane SettingsWebsiteHomepageImages">
              <!-- Data Table -->
              <table id="example1" class="table table-striped table-primary">
                  <tbody>
                      <tr>
                          <td style="width: 15%">Upload Log</td>
                          <td>
                              <input type="file" class="form-control" placeholder="Text input">
                          </td>
                           <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                          <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                      </tr>
                      <tr>
                          <td style="width: 15%">Upload Favicon</td>
                          <td>
                              <input type="file" class="form-control" placeholder="Text input">
                          </td>
                           <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                          <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                      </tr>
                      <tr>
                          <td style="width: 15%">Upload Background Image</td>
                          <td>
                              <input type="file" class="form-control" placeholder="Text input">
                          </td>
                           <td style="width: 15%"><a href="#" class="btn btn-success btn-table">Save</a>
                          <a href="#" class="btn btn-primary btn-table">Edit</a></td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div class="tab-pane SettingsWebsiteZipCode">
              <!-- Data Table -->

              <div class="text-right">
                <BsModal
                  :smaller="true"
                  :height="110"
                  type="green" >
                  <template #button>
                    <span class="btn btn-primary" style="margin-right: 5px"><i class="fa fa-plus-circle"></i> Add Country</span>
                  </template>
                  <template #title>
                    ADD County
                  </template>
                    <div class="form-group">
                      <label>County Name</label>
                      <input type="text" class="form-control" placeholder="Put Name Here">
                    </div>
                  <template #footer>
                    <a class="btn btn-primary" style="float: right;"> Save</a>
                  </template>
                </BsModal>
                <BsModal
                  :smaller="true"
                  :height="180"
                  type="green" >
                  <template #button>
                    <span class="btn btn-primary" style="margin-right: 5px"><i class="fa fa-plus-circle"></i> Add Destricts</span>
                  </template>
                  <template #title>
                    ADD District
                  </template>
                  <div>
                    <div class="form-group">
                      <label>Select County</label>
                      <select class="form-control">
                        <option>Select Country</option>
                        <option>Beauty</option>
                        <option>Internet</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>District Name</label>
                      <input type="text" class="form-control" placeholder="Put Name Here">
                    </div>
                  </div>
                  <template #footer>
                    <a class="btn btn-primary" style="float: right;"> Save</a>
                  </template>
                </BsModal>
                <BsModal
                  :smaller="true"
                  :height="180"
                  type="green" >
                  <template #button>
                    <span class="btn btn-primary" style="margin-right: 5px"><i class="fa fa-plus-circle"></i> Add Destricts</span>
                  </template>
                  <template #title>
                    Add Citys
                  </template>
                  <div>
                    <div class="form-group">
                      <label>Select County</label>
                      <select class="form-control">
                        <option>Select Country</option>
                        <option>Beauty</option>
                        <option>Internet</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>City Name</label>
                      <input type="text" class="form-control" placeholder="Put Name Here">
                    </div>
                  </div>
                  <template #footer>
                    <a class="btn btn-primary" style="float: right;"> Save</a>
                  </template>
                </BsModal>
              </div>

              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th style="width: 8%">No.</th>
                  <th>Country</th>
                  <th>District</th>
                  <th>Citys</th>
                  <th style="width: 8%">Options</th>
                </tr>
                </thead>
                <tbody>
                 <tr>
                  <td>1</td>
                  <td>Beauty</td>
                  <td>
                    <BsModal
                      :smaller="true"
                      :height="230"
                      type="green" >
                      <template #button>
                        <span class="btn-link">5</span>
                      </template>
                      <template #title>
                        Descrit
                      </template>
                      <table class="table table-bordered" style="margin-bottom: 0px">
                        <thead>
                          <tr>
                            <th>
                              Descrit Name
                            </th>
                            <th style="width: 20%;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <template #footer>
                        <a class="btn btn-primary" style="float: right;"> Save</a>
                      </template>
                    </BsModal>
                  </td>
                  <td>
                    <BsModal
                      :smaller="true"
                      :height="230"
                      type="green" >
                      <template #button>
                        <span class="btn-link">25</span>
                      </template>
                      <template #title>
                        Citys
                      </template>
                      <table class="table table-bordered" style="margin-bottom: 0px">
                        <thead>
                          <tr>
                            <th>
                              City Name
                            </th>
                            <th style="width: 20%;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <template #footer>
                        <a class="btn btn-primary" style="float: right;"> Save</a>
                      </template>
                    </BsModal>
                  </td>
                  <td>
                   <a href="#examp" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Internet</td>
                  <td>
                    <BsModal
                      :smaller="true"
                      :height="230"
                      type="green" >
                      <template #button>
                        <span class="btn-link">5</span>
                      </template>
                      <template #title>
                        Descrit
                      </template>
                      <table class="table table-bordered" style="margin-bottom: 0px">
                        <thead>
                          <tr>
                            <th>
                              Descrit Name
                            </th>
                            <th style="width: 20%;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <template #footer>
                        <a class="btn btn-primary" style="float: right;"> Save</a>
                      </template>
                    </BsModal>
                  </td>
                  <td>
                    <BsModal
                      :smaller="true"
                      :height="230"
                      type="green" >
                      <template #button>
                        <span class="btn-link">25</span>
                      </template>
                      <template #title>
                        Citys
                      </template>
                      <table class="table table-bordered" style="margin-bottom: 0px">
                        <thead>
                          <tr>
                            <th>
                              City Name
                            </th>
                            <th style="width: 20%;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>Fashion</td>
                            <td>
                              <a class="btn btn-primary btn-table"><i class="fa fa-edit"></i></a>
                              <a class="btn btn-danger btn-table"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <template #footer>
                        <a class="btn btn-primary" style="float: right;"> Save</a>
                      </template>
                    </BsModal>
                  </td>
                  <td>
                   <a href="#examp" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</template>

<script>
import BsModal from '@/components/BsModal.vue'
import iradio from '@/components/iradio.vue'
import { mapState } from 'vuex'

export default {
  name: 'WebsiteSetting',
  components: {
    BsModal, iradio
  },
  data: function () {
    return {
      Currency: null,
      CurrencyType: null,
      CurrencySign: null
    }
  },
  computed: {
    ...mapState({
      menuCategory: state => state.settings.menuImage.menuCategory,
      cardItem: state => state.settings.menuImage.cardItem,
      itemType: state => state.settings.menuImage.itemType
    })
  },
  created: function () {
    this.$store.dispatch('settings/getMenuImageData')
  }
}
</script>
