<template>
<div class="WebsiteLanguage">
  <section class="content-header">
    <h1>
      Websie Languages
      <small>YamiYami Settings</small>
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">Websie Languages</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">
        <div class="text-right" style="margin-bottom: 20px;">
          <BsModal
            :smaller="true"
            :height="200"
            type="green"
          >
            <template #button>
              <span class="btn btn-info">Add New Language</span>
            </template>
            <template #title>
              ADD LANGUAGE
            </template>
            <div style="margin-top: 20px;">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" v-model="setLanguage.title">
              </div>
              <div class="form-group">
                <label>Image</label>
                <input type="file" class="form-control" @change="setLanguage.file='Uploaded'">
              </div>
            </div>
            <template #footer>
              <a class="btn btn-primary" style="float: right;" @click.prevent="submitLanguageForm()"> Save</a>
            </template>
          </BsModal>
        </div>
        <!-- Data Table -->
        <div class="">

          <DataTable :has_data="datas.length>0">
            <template #header>
              <th class="id-column">No.</th>
              <th>Image</th>
              <th>Language</th>
              <th>Total</th>
              <th class="option-column">Options</th>
            </template>
            <tr v-for="(data, index) in datas" :key="index">
              <td>{{ index+1 }}</td>
              <td><img style="max-height:35px; max-width:35px" :src="data.image"></td>
              <td>{{ data.language }}</td>
              <td>{{ data.total }}</td>
              <td>

                            <BsModal
                              type="green"
                            >
                              <template #button>
                                <span class="btn btn-info btn-table"><i class="fa fa-edit"></i></span>
                              </template>
                              <template #title>
                                Edit Language
                              </template>
                              <div class="container">
                                <div class="row">
                                  <div class="col-sm-8 col-sm-offset-2">
                                    <form style="margin-top: 20px;">
                                      <div class="form-group">
                                        <label>Account Details</label>
                                        <input type="text" class="form-control" placeholder="Arabic Text">
                                      </div>
                                      <div class="form-group">
                                        <label>Activities</label>
                                        <input type="text" class="form-control" placeholder="Arabic Text">
                                      </div>
                                      <div class="form-group">
                                        <label>Activity</label>
                                        <input type="text" class="form-control" placeholder="Arabic Text">
                                      </div>
                                       <div class="form-group">
                                        <a class="btn btn-primary" style="float: right;"> Save</a>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </BsModal>

                <BsModal
                  :smaller="true"
                  :height="1"
                  type="red"
                >
                  <template #button>
                    <span class="btn btn-primary btn-table"><i class="fa fa-remove"></i></span>
                  </template>
                  <template #title>
                    REMOVE LANGUAGE
                  </template>
                  <template #footer>
                    <a class="btn btn-danger" style="float: right;" @click.prevent="removeLanguage(data)"> Confirm</a>
                  </template>
                </BsModal>
              </td>
            </tr>
          </DataTable>
        </div>

      </div>
    </div>
  </section>
</div>
</template>

<script>
import DataTable from '@/components/DataTable.vue'
import BsModal from '@/components/BsModal.vue'
import { mapState } from 'vuex'

export default {
  name: 'WebsiteLanguage',
  components: {
    DataTable, BsModal
  },
  data: function () {
    return {
      setLanguage: {
        title: '',
        file: ''
      }
    }
  },
  computed: {
    ...mapState({
      datas: state => state.settings.websiteLanguage.datas
    })
  },
  methods: {
    submitLanguageForm: function () {
      // Submit form from here
      this.$emit('closeModal')
      console.log('Form submited. \n' + ' DATA => ' + JSON.stringify(this.setLanguage))
    },
    removeLanguage: function (language) {
      // Submit form from here
      this.$emit('closeModal')
      console.log('Language Removed . \n' + ' DATA => ' + JSON.stringify(language))
    }
  },
  created: function () {
    this.$store.dispatch('settings/getWebsiteLanguageData')
  }
}
</script>
