<template>
<div class="Request">
  <section class="content-header">
    <h1>
      Manage Shop
      <small>Deliver</small>
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">Manage Shop</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">
        <!-- Info Box -->
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box" style="background: #ecf0f5;">
              <span class="info-box-icon bg-aqua"><i class="fa fa-sort-numeric-asc"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">TOTAL SHOPS</span>
                <span class="info-box-number">{{ summery.total }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box" style="background: #ecf0f5;">
              <span class="info-box-icon bg-green"><i class="fa fa-play-circle-o"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">SHOP ACTIVE</span>
                <span class="info-box-number">{{ summery.active }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box" style="background: #ecf0f5;">
              <span class="info-box-icon bg-red"><i class="fa fa-stop"></i></span>
              <div class="info-box-content" >
                <span class="info-box-text">SHOP CLOSED</span>
                <span class="info-box-number">{{ summery.closed }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box" style="background: #ecf0f5;">
              <span class="info-box-icon bg-yellow"><i class="fa fa-lock"></i></span>
              <div class="info-box-content" >
                <span class="info-box-text">SHOP SUSPEND</span>
                <span class="info-box-number">{{ summery.suspended }}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Data Table -->
        <div class="tab-pane RequestNewRequestTab active">
          <DataTable :has_data="combinedDatas.length>0">
            <template #header>
              <th class="id-column">#</th>
              <th>Shop ID</th>
              <th>Shop Name</th>
              <th>Location</th>
              <th>Phone Number</th>
              <th>Status</th>
              <th class="option-column">Options</th>
            </template>
            <tr v-for="(data, index) in combinedDatas" :key="index">
              <td>{{ index }}</td>
              <td>#{{ data.shopId }}</td>
              <td>{{ data.shopName }}</td>
              <td>{{ data.location }}</td>
              <td>{{ data.phoneNo }}</td>
              <td>
                <a href="#" @click.prevent="" class="btn btn-success btn-table" v-if="data.status=='Open'">{{ data.status }}</a>
                <a href="#" @click.prevent="" class="btn btn-danger btn-table" v-if="data.status=='Closed'">{{ data.status }}</a>
                <a href="#" @click.prevent="" class="btn btn-warning btn-table" v-if="data.status=='Suspend'">{{ data.status }}</a>
              </td>
              <td>
                <BsModal
                    smaller
                    type="white"
                    :height="600"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table"><i class="fa fa-eye"></i></span>
                  </template>
                  <div class="">
                    <iframe src="/pdf/Instructions.pdf" style="height: 550px; width: 800px;"></iframe>
                  </div>
                </BsModal>
              </td>
            </tr>
          </DataTable>
        </div>

      </div>
    </div>
  </section>
</div>
</template>

<script>
import DataTable from '@/components/DataTable.vue'
import BsModal from '@/components/BsModal.vue'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'DeliverShop',
  components: {
    DataTable, BsModal
  },
  computed: {
    combinedDatas () {
      let datas = [...this.active, ...this.closed, ...this.suspended]
      datas = _.sortBy(datas, 'shopId')
      return datas
    },
    ...mapState({
      active: state => state.deliver.shop.active,
      closed: state => state.deliver.shop.closed,
      suspended: state => state.deliver.shop.suspended
    }),
    ...mapGetters({
      summery: 'deliver/deliverShopSummery'
    })
  },
  created: function () {
    this.$store.dispatch('deliver/getDeliverShopData')
  }
}
</script>
