<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= BASE_URL %>apple-icon.png">
    <link rel="icon" type="image/png" href="<%= BASE_URL %>favicon.png">
    <title> Yami Yami - Admin </title>
  </head>
  <body class="hold-transition skin-blue fixed sidebar-mini">
    <noscript>
      <strong>We're sorry but yamiyami.local doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected --
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script> -->
    <script src="https://cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
  </body>
</html>
