<template>
<div class="ShopExtraAllergy">
  <section class="content-header">
    <h1>
      Allergies
      <small>Shop Extra</small>
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">Allergies</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">
        <div class="text-right" style="margin-bottom: 20px;">
          <BsModal
              smaller
              type="green"
              :height="180"
            >
            <template #button>
              <span class="btn btn-info btn-table">Add Allergy</span>
            </template>
            <template #title>Allergy</template>
            <div class="">
              <div class="form-group">
                <label>Cuisine Name</label>
                <input type="text" class="form-control" placeholder="Arabic Text">
              </div>
              <div class="form-group">
                <label>Cuisine Number</label>
                <input type="text" class="form-control" placeholder="Arabic Text">
              </div>
            </div>
            <template #footer>
              <button type="button" class="btn btn-primary">Add Allergy</button>
            </template>
          </BsModal>
        </div>
        <!-- Data Table -->
        <div class="">

          <DataTable :has_data="datas.length>0">
            <template #header>
              <th class="id-column">No.</th>
              <th>Allergy Number</th>
              <th>Allergy Name</th>
              <th class="option-column">Options</th>
            </template>
            <tr v-for="(data, index) in datas" :key="index">
              <td>{{ index+1 }}</td>
              <td>{{ data.number }}</td>
              <td>{{ data.name }}</td>
              <td>
                <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
              </td>
            </tr>
          </DataTable>
        </div>

      </div>
    </div>
  </section>
</div>
</template>

<script>
import BsModal from '@/components/BsModal.vue'
import DataTable from '@/components/DataTable.vue'
import { mapState } from 'vuex'

export default {
  name: 'ShopExtraAllergy',
  components: {
    DataTable, BsModal
  },
  computed: {
    ...mapState({
      datas: state => state.shopExtraAllergy.datas
    })
  },
  created: function () {
    this.$store.dispatch('getShopExtraAllergyData')
  }
}
</script>
