<template>
<div class="ShopExtraParty">
  <section class="content-header">
    <h1>
      Party Service
      <small>Shop Extra</small>
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">Party Service</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">
        <div class="nav-tabs-custom" style="margin-top: 30px;">
          <ul class="nav nav-tabs">
            <li class="active"><a href=".ShopExtraPartyServiceEmployer" data-toggle="tab"><b>Employer</b></a></li>
            <li><a href=".ShopExtraPartyServiceAdministration" data-toggle="tab"><b>Administration</b></a></li>
            <li><a href=".ShopExtraPartyServiceKitchenstill" data-toggle="tab"><b>Kitchenstill</b></a></li>
            <li><a href=".ShopExtraPartyServicePreparation" data-toggle="tab"><b>Preparation</b></a></li>
            <li><a href=".ShopExtraPartyServiceEvent" data-toggle="tab"><b>Event</b></a></li>
            <li><a href=".ShopExtraPartyServiceCatering" data-toggle="tab"><b>Catering Type</b></a></li>
            <li><a href=".ShopExtraPartyServiceKitchen" data-toggle="tab"><b>Kitchen</b></a></li>
            <li><a href=".ShopExtraPartyServiceDrinks" data-toggle="tab"><b>Drinks</b></a></li>
            <li><a href=".ShopExtraPartyServiceMenu" data-toggle="tab"><b>Menu Steps</b></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane ShopExtraPartyServiceEmployer active">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal
                    smaller
                    type="green"
                    :height="300"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table">Add Employer</span>
                  </template>
                  <template #title>Menu Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                    <FileUploader></FileUploader>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Add Menu Category</button>
                  </template>
                </BsModal>
              </div>
              <DataTable :has_data="employer.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Category Image</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in employer" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td><img :src="data.image" height="35px;"></td>
                  <td>
                    <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                    <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane ShopExtraPartyServiceAdministration">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal
                    smaller
                    type="green"
                    :height="300"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table">Add Administration</span>
                  </template>
                  <template #title>Menu Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                    <FileUploader></FileUploader>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Add Menu Category</button>
                  </template>
                </BsModal>
              </div>
              <DataTable :has_data="administration.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Menu Card Item</th>
                  <th>Category Image</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in administration" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>{{ data.item }}</td>
                  <td><img :src="data.image" height="35px;"></td>
                  <td>
                    <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                    <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane ShopExtraPartyServiceKitchenstill">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal
                    smaller
                    type="green"
                    :height="300"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table">Add Kitchenstill</span>
                  </template>
                  <template #title>Menu Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                    <FileUploader></FileUploader>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Add Menu Category</button>
                  </template>
                </BsModal>
              </div>
              <DataTable :has_data="kitchenstill.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Menu Card Item</th>
                  <th>Category Image</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in kitchenstill" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>{{ data.item }}</td>
                  <td><img :src="data.image" height="35px;"></td>
                  <td>
                    <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                    <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane ShopExtraPartyServicePreparation">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal
                    smaller
                    type="green"
                    :height="300"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table">Add Preparation</span>
                  </template>
                  <template #title>Menu Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                    <FileUploader></FileUploader>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Add Menu Category</button>
                  </template>
                </BsModal>
              </div>
              <DataTable :has_data="preparation.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Menu Card Item</th>
                  <th>Category Image</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in preparation" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>{{ data.item }}</td>
                  <td><img :src="data.image" height="35px;"></td>
                  <td>
                    <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                    <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane ShopExtraPartyServiceEvent">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal
                    smaller
                    type="green"
                    :height="300"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table">Add Event</span>
                  </template>
                  <template #title>Menu Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                    <FileUploader></FileUploader>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Add Menu Category</button>
                  </template>
                </BsModal>
              </div>
              <DataTable :has_data="event.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Menu Card Item</th>
                  <th>Category Image</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in event" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>{{ data.item }}</td>
                  <td><img :src="data.image" height="35px;"></td>
                  <td>
                    <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                    <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane ShopExtraPartyServiceCatering">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal
                    smaller
                    type="green"
                    :height="300"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table">Add Catering Type</span>
                  </template>
                  <template #title>Menu Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                    <FileUploader></FileUploader>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Add Menu Category</button>
                  </template>
                </BsModal>
              </div>
              <DataTable :has_data="catering.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Menu Card Item</th>
                  <th>Category Image</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in catering" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>{{ data.item }}</td>
                  <td><img :src="data.image" height="35px;"></td>
                  <td>
                    <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                    <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane ShopExtraPartyServiceKitchen">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal
                    smaller
                    type="green"
                    :height="300"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table">Add Kitchen</span>
                  </template>
                  <template #title>Menu Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                    <FileUploader></FileUploader>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Add Menu Category</button>
                  </template>
                </BsModal>
              </div>
              <DataTable :has_data="kitchen.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Menu Card Item</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in kitchen" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>{{ data.item }}</td>
                  <td>
                    <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                    <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane ShopExtraPartyServiceDrinks">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal
                    smaller
                    type="green"
                    :height="300"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table">Add Drinks</span>
                  </template>
                  <template #title>Menu Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                    <FileUploader></FileUploader>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Add Menu Category</button>
                  </template>
                </BsModal>
              </div>
              <DataTable :has_data="drinks.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Menu Card Item</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in drinks" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>{{ data.item }}</td>
                  <td>
                    <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                    <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane ShopExtraPartyServiceMenu">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal
                    smaller
                    type="green"
                    :height="300"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table" style="margin-right: 5px;">Add Category</span>
                  </template>
                  <template #title>Menu Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                    <FileUploader></FileUploader>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Add Menu Category</button>
                  </template>
                </BsModal>
                <BsModal
                    smaller
                    type="green"
                    :height="300"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table">Add Item</span>
                  </template>
                  <template #title>Menu Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Category Name</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                    <FileUploader></FileUploader>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Add Menu Category</button>
                  </template>
                </BsModal>
              </div>
              <DataTable :has_data="drinks.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Menu Card Item</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in drinks" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>{{ data.item }}</td>
                  <td>
                    <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                    <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</template>

<script>
import BsModal from '@/components/BsModal.vue'
import DataTable from '@/components/DataTable.vue'
import FileUploader from '@/components/FileUploader.vue'
import { mapState } from 'vuex'

export default {
  name: 'ShopExtraParty',
  components: {
    DataTable, BsModal, FileUploader
  },
  computed: {
    ...mapState({
      employer: state => state.shopExtraParty.employer,
      administration: state => state.shopExtraParty.administration,
      kitchenstill: state => state.shopExtraParty.kitchenstill,
      preparation: state => state.shopExtraParty.preparation,
      event: state => state.shopExtraParty.event,
      catering: state => state.shopExtraParty.catering,
      kitchen: state => state.shopExtraParty.kitchen,
      drinks: state => state.shopExtraParty.drinks,
      menu: state => state.shopExtraParty.menu
    })
  },
  created: function () {
    this.$store.dispatch('getShopExtraPartyData')
  }
}
</script>
