<template>
<div class="ShopExtraFood">
  <section class="content-header">
    <h1>
      Food Extra
      <small>Shop Extra</small>
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">Food Extra</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">
        <div class="nav-tabs-custom" style="margin-top: 30px;">
          <ul class="nav nav-tabs">
            <li class="active"><a href=".ShopExtraFoodExtraCategory" data-toggle="tab"><b>Food Extra Category</b></a></li>
            <li><a href=".ShopExtraFoodExtraItem" data-toggle="tab"><b>Food Extra Item</b></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane ShopExtraFoodExtraCategory active">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal
                  smaller
                  type="green"
                  :height="105"
                >
                  <template #button>
                    <span class="btn btn-info btn-table">Add Food Extra Category</span>
                  </template>
                  <template #title>Food Extra Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Food Extra Category Name</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Food Extra Category</button>
                  </template>
                </BsModal>
              </div>
              <DataTable :has_data="category.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in category" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>
                    <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                    <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane ShopExtraFoodExtraItem">
              <!-- Data Table -->
              <div class="text-right" style="top: -80px; position: relative; margin-bottom: -34px;">
                <BsModal
                  smaller
                  type="green"
                  :height="180"
                >
                  <template #button>
                    <span class="btn btn-info btn-table">Add Food Extra Item</span>
                  </template>
                  <template #title>Menu Category</template>
                  <div class="">
                    <div class="form-group">
                      <label>Food Extra Category Name</label>
                      <select class="form-control">
                        <option>Food Category 1</option>
                        <option>Food Category2</option>
                        <option>Food Category3</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Food Extra Item</label>
                      <input type="text" class="form-control" placeholder="Arabic Text">
                    </div>
                  </div>
                  <template #footer>
                    <button type="button" class="btn btn-primary">Add Food Extra Item</button>
                  </template>
                </BsModal>
              </div>
              <DataTable :has_data="items.length>0">
                <template #header>
                  <th class="id-column">No.</th>
                  <th>Category Name</th>
                  <th>Item Name</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in items" :key="index">
                  <td>{{ index+1 }}</td>
                  <td>{{ data.category }}</td>
                  <td>{{ data.item }}</td>
                  <td>
                    <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
                    <a href="#" class="btn btn-success btn-table"><i class="fa fa-close"></i></a>
                  </td>
                </tr>
              </DataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</template>

<script>
import BsModal from '@/components/BsModal.vue'
import DataTable from '@/components/DataTable.vue'
import { mapState } from 'vuex'

export default {
  name: 'ShopExtraFood',
  components: {
    DataTable, BsModal
  },
  computed: {
    ...mapState({
      category: state => state.shopExtraFood.category,
      items: state => state.shopExtraFood.items
    })
  },
  created: function () {
    this.$store.dispatch('getShopExtraFoodData')
  }
}
</script>
