<template>
  <div class="Login">
    <div class="window">
      <div class="profile">&nbsp;</div>
      <div class="header">
        <h1>Welcome</h1>
        <h2>Have a nice day</h2>
      </div>
      <div class="container">
        <form>
          <input type="text" v-model="username" placeholder="User" maxlength="50" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" pattern="^.*$" required="required"/>
          <input type="password" v-model="password" placeholder="Password" maxlength="50" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" pattern="^.*$" required="required"/>
          <button @click.prevent="authTokenRequest">Login</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { onLogin } from '../vue-apollo.js'
import gql from 'graphql-tag'

export default {
  name: 'Login',
  components: {},
  data: function () {
    return {
      username: 'rohan@gmail.com',
      password: 'pass'
    }
  },
  methods: {
    getPath (routeName) {
      let path = '/'
      if (this.$router.resolve({ name: routeName }).route.path) { path = this.$router.resolve({ name: routeName }).route.path }
      return path
    },
    checkPath (routeName) {
      let result = false
      let path = this.getPath(routeName)
      if (this.$route.path === path) { result = true }
      return result
    },
    async authTokenRequest () {
      let vm = this
      let adminToken = await vm.$apollo.mutate({
        // Query
        mutation: gql`
            mutation (
              $appID: String!,
              $appSecret: String!,
              $username: String!,
              $password: String!
            ) {
              authToken(
                appID: $appID,
                appSecret: $appSecret,
                username: $username,
                password: $password
              ) {
                token_type
                access_token
                expires_in
              }
            }`,
        // Parameters
        variables: {
          appID: '2',
          appSecret: 'KhRnzCJ5XgQSBXQFLZxyIScThu5u8QXyht7lKlrM',
          username: vm.username,
          password: vm.password
        }
      })

      // let tokenType = adminToken.data.authToken.token_type
      let accessToken = adminToken.data.authToken.access_token
      onLogin(vm.$apollo.provider.defaultClient, /* tokenType + ' ' + */ accessToken)
      let expiresAT = JSON.stringify(
        (adminToken.data.authToken.expires_in * 1000) +
        new Date().getTime()
      )
      localStorage.setItem('expiresAT', expiresAT)
      vm.checkAuthToken()
    },
    checkAuthToken () {
      let isAuthenticated = new Date().getTime() < localStorage.getItem('expiresAT')
      if (isAuthenticated) this.$router.push({ name: 'Home' })
    }
  },
  created: function () {
    // this.checkAuthToken()
  }
}
</script>

<style lang="scss">
@keyframes slide {
  100% { top: 50%; }
}
.Login {
  position: fixed;
  background: #222d32;
  z-index: 9999999;
  height: 100vh;
  width: 100%;
  left: 0px;
  top: 0px;

  .window {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    background: #F7F4FA;
    border-radius: 5px;
    color: black;
    box-shadow: 0 5px 20px 0 #222;
    animation: slide 500ms ease 0ms 1 forwards;

    .profile {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, -40%);
      transform: translate(-50%, -40%);
      height: 100px;
      width: 100px;
      border-radius: 100%;
      border: 0.2rem solid #EBEAEC;
      -webkit-box-shadow: 0 5px 5px 0 #ccc;
      box-shadow: 0 5px 5px 0 #ccc;
      background-color: #333;
      background-image: url(/img/yamiyamilogo-square.27d4c4c6.png);
      background-size: 80px 60px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .header {
      background: linear-gradient(#F7F4FA, #E4E2E5);
      border-bottom: 1px solid #DCDADD;
      border-radius: 5px 5px 0 0;
      padding: 3.7rem 1rem 1rem 1rem;
      width: 100%;
      height: auto;
      text-align: center;

      h1 {
        font-size: 20px;
        margin: 30px 0px 0px 0px;
        font-weight: 900;
      }
      h2 {
        font-size: 18px;
        font-weight: 400;
        margin: 5px 0px 15px 0px;
      }
    }
    .container {
      border-top: 1px solid white;
      width: 100%;
      height: auto;
      padding: 20px;

      :first-child {
        margin-top: 0;
      }
      :last-child {
        margin-bottom: 0;
      }

      p {
        text-align: center;
      }
      input {
        margin: 10px 0;
        width: 100%;
        font: inherit;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        user-select: text;
        cursor: text;
        &:invalid {
          outline: none;
          box-shadow: 0 0 3px 1px #FF0000;
        }
        &:required {
          outilne: none;
          box-shadow: none;
        }
      }
      button {
        margin: 5px 0;
        width: 100%;
        height: 50px;
        font: inherit;
        color: white;
        background: linear-gradient(#34AAE5, #2897DC);
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:active {
          background: #1974B6;
        }
      }
    }
  }
}
</style>
