<template>
<div class="Request">
  <section class="content-header">
    <h1>
      Requests
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">Requests</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">
        <!-- Info Box -->
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box" style="background: #ecf0f5;">
              <span class="info-box-icon bg-aqua"><i class="fa fa-question"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">New Request</span>
                <span class="info-box-number">{{ summery.new }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box" style="background: #ecf0f5;">
              <span class="info-box-icon bg-red"><i class="fa fa-stop"></i></span>
              <div class="info-box-content" >
                <span class="info-box-text">Denied Request</span>
                <span class="info-box-number">{{ summery.denied }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box" style="background: #ecf0f5;">
              <span class="info-box-icon bg-yellow"><i class="fa fa-pause"></i></span>
              <div class="info-box-content" >
                <span class="info-box-text">On Hold</span>
                <span class="info-box-number">{{ summery.onHold }}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Data Table -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href=".RequestNewRequestTab" data-toggle="tab"><b>New Request</b></a></li>
            <li><a href=".RequestAcceptedRequestTab" data-toggle="tab"><b>Accepted Request</b></a></li>
            <li><a href=".RequestDeniedRequestTab" data-toggle="tab"><b>Denied Request</b></a></li>
            <li><a href=".RequestOnHoldRequestTab" data-toggle="tab"><b>On Hold</b></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane RequestNewRequestTab active">
              <DataTable :has_data="newData.length>0">
                <template #header>
                  <th class="id-column">#</th>
                  <th>Shop Name</th>
                  <th>Shop ID</th>
                  <th>Shop Type</th>
                  <th>Request Date</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in newData" :key="index">
                  <td>{{ index }}</td>
                  <td>{{ data.shopName }}</td>
                  <td>{{ data.shopId }}</td>
                  <td>{{ data.shopType }}</td>
                  <td>{{ data.requestDate }}</td>
                  <td>
                    <BsModal
                        type="green"
                      >
                      <template #button>
                        <span class="btn btn-info btn-table"><i class="fa fa-eye"></i></span>
                      </template>
                      <template #title>
                        {{ data.shopName }}
                      </template>
                      <div class="container-fluid">
                        <section class="content-header">
                          <h1>Shop Profile</h1>
                          <ol class="breadcrumb">
                            <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
                            <li class="active">Shop Profile</li>
                          </ol>
                        </section>
                        <br/>
                        <div class="row">
                          <div class="col-sm-3">
                            <ProfileBox></ProfileBox>
                            <AboutBox></AboutBox>
                          </div>
                          <div class="col-sm-9">
                            <ProfileTabs></ProfileTabs>
                          </div>
                        </div>
                      </div>
                    </BsModal>
                    <BsModal
                        smaller
                        type="white"
                        :height="60"
                      >
                      <template #button>
                        <span class="btn btn-success btn-table"><i class="fa fa-check"></i></span>
                      </template>
                      <template #title>
                        Reason for Cancelation
                      </template>
                      <div class="container-fluid">
                        Due to low Balance this order is canceled
                      </div>
                    </BsModal>
                    <BsModal
                        smaller
                        type="white"
                        :height="70"
                      >
                      <template #button>
                        <span class="btn btn-danger btn-table"><i class="fa fa-minus-circle"></i></span>
                      </template>
                      <template #title>
                        Shop Options
                      </template>
                      <div class="container-fluid text-center">
                        <a href="#" class="btn btn-warning" style="margin-right: 20px;padding: 6px 40px;">Suspend</a>
                        <a href="#" class="btn btn-danger" style="padding: 6px 40px;">Deactivate</a>
                      </div>
                    </BsModal>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane RequestAcceptedRequestTab">
              <DataTable :has_data="accepted.length>0">
                <template #header>
                  <th class="id-column">#</th>
                  <th>Shop Name</th>
                  <th>Shop ID</th>
                  <th>Shop Type</th>
                  <th>Request Date</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in accepted" :key="index">
                  <td>{{ index }}</td>
                  <td>{{ data.shopName }}</td>
                  <td>{{ data.shopId }}</td>
                  <td>{{ data.shopType }}</td>
                  <td>{{ data.requestDate }}</td>
                  <td>
                    <BsModal
                        type="green"
                      >
                      <template #button>
                        <span class="btn btn-info btn-table"><i class="fa fa-eye"></i></span>
                      </template>
                      <template #title>
                        {{ data.shopName }}
                      </template>
                      <div class="container-fluid">
                        <section class="content-header">
                          <h1>Shop Profile</h1>
                          <ol class="breadcrumb">
                            <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
                            <li class="active">Shop Profile</li>
                          </ol>
                        </section>
                        <br/>
                        <div class="row">
                          <div class="col-sm-3">
                            <ProfileBox></ProfileBox>
                            <AboutBox></AboutBox>
                          </div>
                          <div class="col-sm-9">
                            <ProfileTabs></ProfileTabs>
                          </div>
                        </div>
                      </div>
                    </BsModal>
                    <BsModal
                        smaller
                        type="white"
                        :height="60"
                      >
                      <template #button>
                        <span class="btn btn-danger btn-table"><i class="fa fa-check"></i></span>
                      </template>
                      <template #title>
                        Reason for Cancelation
                      </template>
                      <div class="container-fluid">
                        Due to low Balance this order is canceled
                      </div>
                    </BsModal>
                    <a href="#" class="btn btn-success btn-table"><label class="label">Accepted</label></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane RequestDeniedRequestTab">
              <DataTable :has_data="denied.length>0">
                <template #header>
                  <th class="id-column">#</th>
                  <th>Shop Name</th>
                  <th>Shop ID</th>
                  <th>Shop Type</th>
                  <th>Request Date</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in denied" :key="index">
                  <td>{{ index }}</td>
                  <td>{{ data.shopName }}</td>
                  <td>{{ data.shopId }}</td>
                  <td>{{ data.shopType }}</td>
                  <td>{{ data.requestDate }}</td>
                  <td>
                    <BsModal
                        type="green"
                      >
                      <template #button>
                        <span class="btn btn-info btn-table"><i class="fa fa-eye"></i></span>
                      </template>
                      <template #title>
                        {{ data.shopName }}
                      </template>
                      <div class="container-fluid">
                        <section class="content-header">
                          <h1>Shop Profile</h1>
                          <ol class="breadcrumb">
                            <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
                            <li class="active">Shop Profile</li>
                          </ol>
                        </section>
                        <br/>
                        <div class="row">
                          <div class="col-sm-3">
                            <ProfileBox></ProfileBox>
                            <AboutBox></AboutBox>
                          </div>
                          <div class="col-sm-9">
                            <ProfileTabs></ProfileTabs>
                          </div>
                        </div>
                      </div>
                    </BsModal>
                    <BsModal
                        smaller
                        type="white"
                        :height="60"
                      >
                      <template #button>
                        <span class="btn btn-success btn-table"><i class="fa fa-check"></i></span>
                      </template>
                      <template #title>
                        Reason for Cancelation
                      </template>
                      <div class="container-fluid">
                        Due to low Balance this order is canceled
                      </div>
                    </BsModal>
                    <a href="#" class="btn btn-danger btn-table"><label class="label">Denied</label></a>
                  </td>
                </tr>
              </DataTable>
            </div>
            <div class="tab-pane RequestOnHoldRequestTab">
              <DataTable :has_data="onHold.length>0">
                <template #header>
                  <th class="id-column">#</th>
                  <th>Shop Name</th>
                  <th>Shop ID</th>
                  <th>Shop Type</th>
                  <th>Request Date</th>
                  <th class="option-column">Options</th>
                </template>
                <tr v-for="(data, index) in onHold" :key="index">
                  <td>{{ index }}</td>
                  <td>{{ data.shopName }}</td>
                  <td>{{ data.shopId }}</td>
                  <td>{{ data.shopType }}</td>
                  <td>{{ data.requestDate }}</td>
                  <td>
                    <BsModal
                        type="green"
                      >
                      <template #button>
                        <span class="btn btn-info btn-table"><i class="fa fa-eye"></i></span>
                      </template>
                      <template #title>
                        {{ data.shopName }}
                      </template>
                      <div class="container-fluid">
                        <section class="content-header">
                          <h1>Shop Profile</h1>
                          <ol class="breadcrumb">
                            <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
                            <li class="active">Shop Profile</li>
                          </ol>
                        </section>
                        <br/>
                        <div class="row">
                          <div class="col-sm-3">
                            <ProfileBox></ProfileBox>
                            <AboutBox></AboutBox>
                          </div>
                          <div class="col-sm-9">
                            <ProfileTabs></ProfileTabs>
                          </div>
                        </div>
                      </div>
                    </BsModal>
                    <BsModal
                        smaller
                        type="white"
                        :height="60"
                      >
                      <template #button>
                        <span class="btn btn-success btn-table"><i class="fa fa-check"></i></span>
                      </template>
                      <template #title>
                        Reason for Cancelation
                      </template>
                      <div class="container-fluid">
                        Due to low Balance this order is canceled
                      </div>
                    </BsModal>
                    <a href="#" class="btn btn-danger btn-table"><label class="label">On Hold</label></a>
                  </td>
                </tr>
              </DataTable>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
</template>

<script>
import DataTable from '@/components/DataTable.vue'
import BsModal from '@/components/BsModal.vue'
import ProfileBox from '@/components/ProfileBox.vue'
import AboutBox from '@/components/AboutBox.vue'
import ProfileTabs from '@/components/ProfileTabs.vue'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'Request',
  components: {
    DataTable, BsModal, ProfileBox, AboutBox, ProfileTabs
  },
  computed: {
    ...mapState({
      newData: state => state.requests.new,
      accepted: state => state.requests.accepted,
      denied: state => state.requests.denied,
      onHold: state => state.requests.onHold
    }),
    ...mapGetters({
      summery: 'requestsSummery'
    })
  },
  created: function () {
    this.$store.dispatch('getRequestData')
  }
}
</script>
