<template>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">About Me</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <strong><i class="fa fa-book margin-r-5"></i> Work Time</strong>

    <p class="text-muted">
      B.S. in Computer Science from the University of Tennessee at Knoxville
    </p>

    <hr>

    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

    <p class="text-muted">Malibu, California</p>

    <hr>

    <strong><i class="fa fa-pencil margin-r-5"></i> Cusine</strong>

    <p>
      <span class="label label-danger" style="margin-right: 5px">UI Design</span>
      <span class="label label-success" style="margin-right: 5px">Coding</span>
      <span class="label label-info" style="margin-right: 5px">Javascript</span>
      <span class="label label-warning" style="margin-right: 5px">PHP</span>
      <span class="label label-primary" style="margin-right: 5px">Node.js</span>
    </p>

    <hr>

    <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
  </div>
  <!-- /.box-body -->
</div>
</template>

<script>
export default {
  name: 'AboutBox'
}
</script>
