<template>
  <div class="Home">
    <!-- Main content -->
    <section class="content">
      <div class="form-tab-widget">
        <div class="wizard-inner">
          <ul class="nav nav-tabs wizard" role="tablist">
            <li role="presentation" :class="formStep==1?'active':''+formStep>1?'completed':''">
              <a href="#" @click.prevent="formStep=1">
                <span class="nmbr">0</span> Coupon
              </a>
            </li>
            <li role="presentation" :class="formStep==2?'active':''+formStep>2?'completed':''">
              <a href="#" @click.prevent="formStep=2">
                <span class="nmbr">0</span> Coupon Setting
              </a>
            </li>
            <li role="presentation" :class="formStep==3?'active':''+formStep>3?'completed':''">
              <a href="#" @click.prevent="formStep=3">
                <span class="nmbr">0</span> Coupon Date
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div :class="formStep==1?'active tab-pane':'tab-pane'" role="tabpanel">
            <div class="box box-success" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Coupon</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class=" col-md-8">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Coupon Title</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Discount Title">
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label>Shop</label>
                    <select2 v-model="ShopStep">
                      <option>Alabama</option>
                      <option>Alaska</option>
                      <option>California</option>
                      <option>Delaware</option>
                      <option>Tennessee</option>
                      <option>Texas</option>
                      <option>Washington</option>
                    </select2>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="form-group">
                  <div class="col-md-4"></div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="">
                        <iradio v-model="radio4" name="radio4" setValue="Restaurants"></iradio>
                        &nbsp;&nbsp; Select %
                      </label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>
                        <iradio v-model="radio4" name="radio4" setValue="Restaurants"></iradio>
                        &nbsp;&nbsp; Select €
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div id="div1" style="display: none;">
                  <div class="col-md-2"></div>
                  <div class="col-md-1">
                    <label>
                      <iradio v-model="radio4" name="radio4" setValue="Restaurants"></iradio>
                      &nbsp;&nbsp; Free
                    </label>
                  </div>
                  <div class="col-md-7">
                    <input type="text" placeholder="How Much" class="form-control input-sm" id="how_much">
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-right">
              <button type="button" class="btn btn-success next-step" @click.prevent="formStep=2">Click to go next</button>
            </div>
          </div>
          <div :class="formStep==2?'active tab-pane':'tab-pane'" role="tabpanel">

            <div class="box box-success" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Coupon For Shop Type</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Bringdieste"></iradio>
                    &nbsp;&nbsp; Bringdieste
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Party Service"></iradio>
                    &nbsp;&nbsp; Party Service
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Restaurants"></iradio>
                    &nbsp;&nbsp; Restaurants
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Takeaway"></iradio>
                    &nbsp;&nbsp; Takeaway
                  </label>
                </div>
              </div>
            </div>

            <div class="box box-info" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Coupon For Shop Services</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Coupon For Shop Services</label>
                    <select2 v-model="ShopStep">
                      <option>Alabama</option>
                      <option>Alaska</option>
                      <option>California</option>
                      <option>Delaware</option>
                      <option>Tennessee</option>
                      <option>Texas</option>
                      <option>Washington</option>
                    </select2>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box-warning" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Coupon For User Type</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio3" name="radio3" setValue="All User"></iradio>
                    &nbsp;&nbsp; All User
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio3" name="radio3" setValue="My User"></iradio>
                    &nbsp;&nbsp; My User
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio3" name="radio3" setValue="First Order"></iradio>
                    &nbsp;&nbsp; First Order
                  </label>
                </div>
              </div>
            </div>

            <div class="box box-danger" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Coupon Type</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio5" name="radio5" setValue="One Time"></iradio>
                    &nbsp;&nbsp; One Time
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio5" name="radio5" setValue="Always"></iradio>
                    &nbsp;&nbsp; Always
                  </label>
                </div>
              </div>
            </div>

            <div class="text-right">
              <button type="button" class="btn btn-default prev-step" @click.prevent="formStep=1">Previous</button>
              <button type="button" class="btn btn-success next-step" @click.prevent="formStep=3">Click to go next</button>
            </div>
          </div>
          <div :class="formStep==3?'active tab-pane':'tab-pane'" role="tabpanel">
            <div class="box box-success" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <h4 class="page-header">Coupon Dates</h4>
              <div class="row">
                <div class="col-md-4">Start Date</div>
                <div class="col-md-8">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" v-model="date" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                  </div>
                  <span class="text-muted help-block">dd/mm/yyyy</span>
                </div>
                <div class="col-md-12"><hr/></div>
                <div class="col-md-4">End Date</div>
                <div class="col-md-8">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" v-model="date" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                  </div>
                  <span class="text-muted help-block">dd/mm/yyyy</span>
                </div>
                <div class="col-md-12"><hr/></div>
                <div class="col-md-4">Description</div>
                <div class="col-md-8">
                  <CKEditor v-model="textEdit"></CKEditor>
                </div>
                <div class="col-md-12"><hr/></div>
              </div>
            </div>
            <div class="text-right">
              <button type="button" class="btn btn-default prev-step" @click.prevent="formStep=2">Previous</button>
              <button type="button" class="btn btn-success next-step" @click.prevent="formStep=4">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import select2 from '@/components/select2.vue'
import iradio from '@/components/iradio.vue'
import CKEditor from '@/components/CKEditor'

export default {
  name: 'AddPOSForm',
  components: {
    select2, iradio, CKEditor
  },
  data: function () {
    return {
      formStep: 1,
      ShopStep: 'Alabama',
      r3: null,
      radio3: '',
      radio4: '',
      radio5: '',
      date: '',
      textEdit: ''
    }
  },
  created: function () {
    $(document).ready(function () {
      $('[data-mask]').inputmask()
    })
  }
}
</script>
