<template>
  <div class="Home">
    <!-- Main content -->
    <section class="content">
      <div class="form-tab-widget">
        <div class="wizard-inner">
          <ul class="nav nav-tabs wizard tab-5" role="tablist">
            <li role="presentation" :class="formStep==1?'active':''+formStep>1?'completed':''">
              <a href="#" @click.prevent="formStep=1">
                <span class="nmbr">0</span> Create New Shop
              </a>
            </li>
            <li role="presentation" :class="formStep==2?'active':''+formStep>2?'completed':''">
              <a href="#" @click.prevent="formStep=2">
                <span class="nmbr">1</span> Shop Type
              </a>
            </li>
            <li role="presentation" :class="formStep==3?'active':''+formStep>3?'completed':''">
              <a href="#" @click.prevent="formStep=3">
                <span class="nmbr">2</span> Shop Setting
              </a>
            </li>
            <li role="presentation" :class="formStep==4?'active':''+formStep>4?'completed':''">
              <a href="#" @click.prevent="formStep=4">
                <span class="nmbr">3</span>Shop Owner
              </a>
            </li>
            <li role="presentation" :class="formStep==5?'active':''+formStep>5?'completed':''">
              <a href="#" @click.prevent="formStep=5">
                <span class="nmbr">4</span>Delivery Area
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div :class="formStep==1?'active tab-pane':'tab-pane'" role="tabpanel">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Create New Shop</h3>
              </div>
              <div class="row">
                <div class="form-group" style="margin-top: 30px">
                  <div class="col-md-4"></div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="">
                        <iradio v-model="radio3" name="radio3" setValue="Create"></iradio>
                        &nbsp;&nbsp;+ Create New Shop
                      </label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="">
                        <iradio v-model="radio3" name="radio3" setValue="Add"></iradio>
                        &nbsp;&nbsp;+ Add Shop +
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="div1" v-if="radio3=='Add'">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Client ID</label>
                      <input type="text" placeholder="How Much" class="form-control input-sm" id="how_much">
                    </div>
                  </div>
                  <div class="col-md-1" style="text-align: center;"> To </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Owner Name</label>
                      <input type="text" placeholder="How Much" class="form-control input-sm" id="how_much">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="list-inline pull-right">
              <li><button type="button" class="btn btn-primary next-step" @click.prevent="formStep=2">Click to go next</button></li>
            </ul>
          </div>
          <div :class="formStep==2?'active tab-pane':'tab-pane'" role="tabpanel">

            <div class="box box-primary" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Select Shop Type</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Delivery Service"></iradio>
                    &nbsp;&nbsp; Delivery Service
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Restaurants"></iradio>
                    &nbsp;&nbsp; Restaurants
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="PartyServices"></iradio>
                    &nbsp;&nbsp; PartyServices
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Takeaway"></iradio>
                    &nbsp;&nbsp; Takeaway
                  </label>
                </div>
              </div>
            </div>

            <div class="box box-success" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                  <h3 class="box-title">Shop Name</h3>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>http://yamiyami.de/</label>
                <input type="text" placeholder="How Much" class="form-control input-sm">
              </div>
            </div>

            <div class="box box-danger" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Shop Cuisine</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                   Will came form database (Check box)
                </div>
                <div class="col-md-4">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="Aisan Food"></icheck>
                    &nbsp;&nbsp;Aisan Food
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="Arabic Food"></icheck>
                    &nbsp;&nbsp;Arabic Food
                  </label>
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>

            <div class="box box-warning" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Shop Reserved Food</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  Will came form database (Check box)
                </div>
                <div class="col-md-4">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="Chicken"></icheck>
                    &nbsp;&nbsp;Chicken
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="Halal"></icheck>
                    &nbsp;&nbsp;Halal
                  </label>
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>

            <div class="box box-info" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Shop Service</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  Will came form database (Check box)
                </div>
                <div class="col-md-4">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="Chicken"></icheck>
                    &nbsp;&nbsp;Chicken
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="wifi"></icheck>
                    &nbsp;&nbsp;wifi
                  </label>
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>

            <div class="box box-success" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Shop SEO</h3>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>http://yamiyami.de/</label>
                <input type="text" placeholder="How Much" class="form-control input-sm">
              </div>
              <div class="col-sm-2"></div>
            </div>

            <div class="box box-primary" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Shop Slug</h3>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>http://yamiyami.de/</label>
                <input type="text" placeholder="How Much" class="form-control input-sm">
              </div>
              <div class="col-sm-2"></div>
            </div>

            <div class="box box-danger" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
                                                                  <div class="row">
                                                                    <div class="col-md-12">
                                                                       <div class="box-header with-border">
                                                                <h3 class="box-title">Shop Meta Description</h3>
                                                              </div>
                                                            </div>
                                                          </div>
                 <div class="form-group">
                   <label>http://yamiyami.de/</label>

             <input type="text" placeholder="How Much" class="form-control input-sm">

                                             </div>

                                              <div class="col-sm-2"></div>
                                          </div>

            <div class="box box-warning" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
                                                                  <div class="row">
                                                                    <div class="col-md-12">
                                                                       <div class="box-header with-border">
                                                                <h3 class="box-title">Shop Logo</h3>
                                                              </div>
                                                            </div>
                                                          </div>
                 <div class="form-group">
                   <label>Select Logo</label>

             <input type="file" placeholder="How Much" class="form-control input-sm">

                                             </div>

                                              <div class="col-sm-2"></div>
                                          </div>

            <ul class="list-inline pull-right">
              <li class="completed"><button type="button" class="btn btn-default prev-step" @click.prevent="formStep=1">Previous</button></li>
              <li><button type="button" class="btn btn-primary next-step" @click.prevent="formStep=3">Click to go next</button></li>
            </ul>

          </div>
          <div :class="formStep==3?'active tab-pane':'tab-pane'" role="tabpanel">
            <div class="box box-success" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">YamiYami Comission</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Free"></iradio>
                    &nbsp;&nbsp; Free
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Percentages"></iradio>
                    &nbsp;&nbsp; Percentages
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Fix"></iradio>
                    &nbsp;&nbsp; Fix
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Monthly Fix"></iradio>
                    &nbsp;&nbsp; Monthly Fix
                  </label>
                </div>
              </div>
            </div>

            <div class="box box-warning" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Order Transfer</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="UTMS Printer"></icheck>
                    &nbsp;&nbsp; UTMS Printer
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="By Mail To Fax"></icheck>
                    &nbsp;&nbsp; By Mail To Fax
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="By SMS"></icheck>
                    &nbsp;&nbsp; By SMS
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="Google Print"></icheck>
                    &nbsp;&nbsp; Google Print
                  </label>
                </div>
              </div>
            </div>

            <div class="box box-danger" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Payment Method</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-center">
                  <label class="">
                    <iradio v-model="radio5" name="radio5" setValue="All Payment"></iradio>
                    &nbsp;&nbsp; All Payment
                  </label>
                </div>
                <div class="col-md-6 text-center">
                  <label class="">
                    <iradio v-model="radio5" name="radio5" setValue="Select Payment"></iradio>
                    &nbsp;&nbsp; Select Payment
                  </label>
                </div>
              </div>
              <div class="row" style="margin-top: 15px">
                <div class="col-md-3">
                  <label class="">
                    <icheck v-model="select4" name="select4" setValue="Cash"></icheck>
                    &nbsp;&nbsp; Cash
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <icheck v-model="select4" name="select4" setValue="Paypal"></icheck>
                    &nbsp;&nbsp; Paypal
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <icheck v-model="select4" name="select4" setValue="GiroPay"></icheck>
                    &nbsp;&nbsp; GiroPay
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="">
                    <icheck v-model="select4" name="select4" setValue="Billpay"></icheck>
                    &nbsp;&nbsp; Billpay
                  </label>
                </div>
              </div>
            </div>

            <div class="box box-info" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Delivery Cost and Deliver Options</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="Pick Up"></icheck>
                    &nbsp;&nbsp; Pick Up
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="Delivery"></icheck>
                    &nbsp;&nbsp; Delivery
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="">
                    <icheck v-model="select3" name="select3" setValue="Tip"></icheck>
                    &nbsp;&nbsp; Tip
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Delivery Coast</label>
                    <input class="form-control" placeholder="+49-511-12345678979" type="text">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Mini Coast of Order</label>
                    <input class="form-control" placeholder="+49-511-12345678979" type="text">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Mini Coast of Order</label>
                    <input class="form-control" placeholder="+49-511-12345678979" type="text">
                  </div>
                </div>
              </div>
            </div>

            <div class="box box-warning" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Payouts</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 text-center">
                  <label class="">
                    <iradio v-model="radio5" name="radio5" setValue="Daily"></iradio>
                    &nbsp;&nbsp; Daily
                  </label>
                </div>
                <div class="col-md-4 text-center">
                  <label class="">
                    <iradio v-model="radio5" name="radio5" setValue="Weekly"></iradio>
                    &nbsp;&nbsp; Weekly
                  </label>
                </div>
                <div class="col-md-4 text-center">
                  <label class="">
                    <iradio v-model="radio5" name="radio5" setValue="Monthly"></iradio>
                    &nbsp;&nbsp; Monthly
                  </label>
                </div>
                <div class="col-md-6 text-center">
                  <label class="">
                    <iradio v-model="radio5" name="radio5" setValue="To Paypal"></iradio>
                    &nbsp;&nbsp; To Paypal
                  </label>
                </div>
                <div class="col-md-6 text-center">
                  <label class="">
                    <iradio v-model="radio5" name="radio5" setValue="To Bank Accoutn"></iradio>
                    &nbsp;&nbsp; To Bank Accoutn
                  </label>
                </div>
              </div>
            </div>

            <ul class="list-inline pull-right">
              <li class="completed"><button type="button" class="btn btn-default prev-step" @click.prevent="formStep=2">Previous</button></li>
              <li><button type="button" class="btn btn-primary next-step" @click.prevent="formStep=4">Click to go next</button></li>
            </ul>

          </div>
          <div :class="formStep==4?'active tab-pane':'tab-pane'" role="tabpanel">

            <div class="box box-warning" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Shop Owner Information</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-center">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Male"></iradio>
                    &nbsp;&nbsp; Male
                  </label>
                </div>
                <div class="col-md-6 text-center">
                  <label class="">
                    <iradio v-model="radio4" name="radio4" setValue="Female"></iradio>
                    &nbsp;&nbsp; Female
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Name</label>
                  <input class="form-control" placeholder="Name" type="text">
                </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Last Name</label>
                  <input class="form-control" placeholder="Last name" type="text">
                </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Zip Code</label>
                  <input class="form-control" placeholder="Zip code" type="text">
                </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Street</label>
                  <input class="form-control" placeholder="Street" type="text">
                </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>House Number</label>
                  <input class="form-control" placeholder="House Number" type="text">
                </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>ST-Nr</label>
                  <input class="form-control" placeholder="ST-Nr" type="text">
                </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>UMST-ID</label>
                  <input class="form-control" placeholder="UMST-ID" type="text">
                </div>
                </div>
              </div>
            </div>

            <div class="box box-success" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Shop Login details</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>User Name</label>
                      <input class="form-control" placeholder="Name" type="text">
                    </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Password</label>
                      <input class="form-control" placeholder="Last name" type="text">
                    </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Reset-Password</label>
                      <input class="form-control" placeholder="Zip code" type="text">
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box-danger" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Map</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Zip Code</label>
                      <input class="form-control" placeholder="Zip code" type="text">
                    </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Street</label>
                      <input class="form-control" placeholder="Street" type="text">
                    </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>House-no</label>
                      <input class="form-control" placeholder="House No" type="text">
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3604.890234907154!2d68.3532028144847!3d25.374994983813757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x394c708af1ae5cc5%3A0x577a94f1f6dff877!2sZeeshan+Autos!5e0!3m2!1sen!2s!4v1478542713420" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
              </div>
            </div>

            <div class="box box-info" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                   <div class="box-header with-border">
                    <h3 class="box-title">Opening Times </h3>
                  </div>
                </div>
              </div>
              <div class="row">

                        <div class="col-md-12">
                          <table class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th>Wochentage</th>
                                <th>Vormittags- Mittag</th>
                                <th>Nachmittags - Abends</th>
                                <th>Permanently - Open</th>
                                <th>Options</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Montags</td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <a href="#" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                </td>
                              </tr>
                                <tr>
                                <td>Montags</td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <a href="#" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                </td>
                              </tr>
                                <tr>
                                <td>Montags</td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <a href="#" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                </td>
                              </tr>
                                <tr>
                                <td>Montags</td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <a href="#" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                </td>
                              </tr>
                                <tr>
                                <td>Montags</td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <a href="#" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                </td>
                              </tr>
                                <tr>
                                <td>Montags</td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <a href="#" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                </td>
                              </tr>
                                <tr>
                                <td>Montags</td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>&nbsp; Vor &nbsp;
                                  <select>
                                    <option>11:00</option>
                                     <option>2:00</option>
                                     <option>3:00</option>
                                     <option>4:00</option>
                                     <option>5:00</option>
                                     <option>6:00</option>
                                  </select>
                                </td>
                                <td>
                                  <a href="#" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                     </div>
                   </div>

            <div class="box box-primary" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Editor</h3>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <CKEditor v-model="textEditor"></CKEditor>
              </div>
            </div>

            <ul class="list-inline pull-right">
              <li class="completed"><button type="button" class="btn btn-default prev-step" @click.prevent="formStep=3">Previous</button></li>
              <li><button type="button" class="btn btn-primary next-step" @click.prevent="formStep=5">Click to go next</button></li>
            </ul>

          </div>
          <div :class="formStep==5?'active tab-pane':'tab-pane'" role="tabpanel">

            <div class="box box-success" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-header with-border">
                    <h3 class="box-title">Delivery Area</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Shop Country</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select class="form-control">
                        <option>Select Country</option>
                        <option>Select Country</option>
                        <option>Select Country</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Shop State</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                   <div class="form-group">
                    <select class="form-control">
                      <option>Select State</option>
                      <option>Select State</option>
                      <option>Select State</option>
                    </select>
                  </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Shop City</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select class="form-control">
                          <option>Select City</option>
                          <option>Select City</option>
                          <option>Select City</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ul class="list-inline pull-right">
              <li class="completed"><button type="button" class="btn btn-default prev-step" @click.prevent="formStep=4">Previous</button></li>
              <li><button type="button" class="btn btn-primary next-step" @click.prevent="formStep=6">Click to go next</button></li>
            </ul>

          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import iradio from '@/components/iradio.vue'
import icheck from '@/components/icheck.vue'
import CKEditor from '@/components/CKEditor'

export default {
  name: 'AddShopForm',
  components: {
    iradio, icheck, CKEditor
  },
  data: function () {
    return {
      formStep: 1,
      ShopStep: 'Alabama',
      r3: null,
      select3: '',
      select4: '',
      textEditor: '',
      radio3: '',
      radio4: '',
      radio5: '',
      radio6: ''
    }
  },
  created: function () {
    $(document).ready(function () {
      $('[data-mask]').inputmask()
    })
  }
}
</script>
