<template>
<div :id="'uploader_'+uniqNumber">
  <form class="file-upload-form uploader">
    <input :id="'uploader_element_'+uniqNumber" class="file-upload" type="file" name="fileUpload" accept="image/*">

    <label :for="'uploader_element_'+uniqNumber" class="file-drag">
      <img class="file-image hidden" src="#" alt="Preview">
      <div class="start">
        <i class="fa fa-download" aria-hidden="true"></i>
        <div>Select a file or drag here</div>
        <div class="notimage hidden">Please select an image</div>
        <span class="file-upload-btn btn btn-primary">Select a file</span>
      </div>
      <div class="response hidden">
        <div class="messages"></div>
        <progress class="progress file-progress" value="0">
          <span>0</span>%
        </progress>
      </div>
    </label>
  </form>
</div>
</template>

<script>
export default {
  name: 'FileUploader',
  props: [ 'value' ],
  computed: {
    localValue: {
      get: function () {
        return this.value
      },
      set: function (value) {
        this.$emit('input', value)
      }
    }
  },
  data: function () {
    return {
      uniqNumber: 0
    }
  },
  methods: {
    ekUpload: function () {
      let vm = this
      if (window.File && window.FileList && window.FileReader) {
        console.log('Upload Initialised')
        var fileSelect = $('#uploader_' + vm.uniqNumber + ' .file-upload')
        var fileDrag = $('#uploader_' + vm.uniqNumber + ' .file-drag')
        fileSelect.on('change', vm.fileSelectHandler)
        // Is XHR2 available?
        var xhr = new XMLHttpRequest()
        if (xhr.upload) {
          // File Drop
          fileDrag.on('dragover', vm.fileDragHover)
          fileDrag.on('dragleave', vm.fileDragHover)
          fileDrag.on('drop', vm.fileSelectHandler)
        }
      } else {
        $('#uploader_' + vm.uniqNumber + ' .file-drag').css('display', 'none')
      }
    },
    fileSelectHandler: function (e) {
      let vm = this
      var files = e.target.files || e.dataTransfer.files
      vm.fileDragHover(e)
      for (var i = 0, f; i < files.length; i++) {
        f = files[i]
        vm.parseFile(f)
        vm.uploadFile(f)
      }
    },
    fileDragHover: function (e) {
      let vm = this
      var fileDrag = $('#uploader_' + vm.uniqNumber + ' .file-drag')
      e.stopPropagation()
      e.preventDefault()
      fileDrag.className = (e.type === 'dragover' ? 'hover' : 'modal-body file-upload')
    },
    output: function (msg) {
      let vm = this
      $('#uploader_' + vm.uniqNumber + ' .messages').html(msg)
    },
    parseFile: function (file) {
      let vm = this
      console.log(file.name)
      vm.output(
        '<strong>' + encodeURI(file.name) + '</strong>'
      )
      var imageName = file.name
      var isGood = (/\.(?=gif|jpg|png|jpeg)/gi).test(imageName)
      if (isGood) {
        $('#uploader_' + vm.uniqNumber + ' .start').addClass('hidden')
        $('#uploader_' + vm.uniqNumber + ' .response').removeClass('hidden')
        $('#uploader_' + vm.uniqNumber + ' .notimage').addClass('hidden')
        // Thumbnail Preview
        $('#uploader_' + vm.uniqNumber + ' .file-image').removeClass('hidden')
        $('#uploader_' + vm.uniqNumber + ' .file-image').attr('src', URL.createObjectURL(file))
      } else {
        $('#uploader_' + vm.uniqNumber + ' .file-image').addClass('hidden')
        $('#uploader_' + vm.uniqNumber + ' .notimage').removeClass('hidden')
        $('#uploader_' + vm.uniqNumber + ' .start').removeClass('hidden')
        $('#uploader_' + vm.uniqNumber + ' .response').addClass('hidden')
        $('#uploader_' + vm.uniqNumber + ' .file-upload-form').reset()
      }
    },
    setProgressMaxValue: function (e) {
      let vm = this
      var pBar = $('#uploader_' + vm.uniqNumber + ' .file-progress')
      if (e.lengthComputable) {
        pBar.max = e.total
      }
    },
    updateFileProgress: function (e) {
      let vm = this
      var pBar = $('#uploader_' + vm.uniqNumber + ' .file-progress')
      if (e.lengthComputable) {
        pBar.value = e.loaded
      }
    },
    uploadFile: function (file) {
      let vm = this
      var xhr = new XMLHttpRequest()
      var pBar = $('#uploader_' + vm.uniqNumber + ' .file-progress')
      var fileSizeLimit = 1024 // In MB
      if (xhr.upload) {
        // Check if file is less than x MB
        if (file.size <= fileSizeLimit * 1024 * 1024) {
          // Progress bar
          pBar.css('display', 'inline')
          xhr.upload.addEventListener('loadstart', vm.setProgressMaxValue, false)
          xhr.upload.addEventListener('progress', vm.updateFileProgress, false)

          // File received / failed
          xhr.onreadystatechange = function (e) {
            if (xhr.readyState === 4) {
              // Everything is good!

              // progress.className = (xhr.status == 200 ? 'success' : 'failure')
              // document.location.reload(true);
            }
          }

          console.log(file)

          // Start upload
          xhr.open('POST', 'https://api.yamiyami.de/file/uploads', true)
          xhr.setRequestHeader('X-File-Name', file.name)
          xhr.setRequestHeader('X-File-Size', file.size)
          xhr.setRequestHeader('Content-Type', 'multipart/form-data; charset=utf-8; boundary=' + Math.random().toString().substr(2))
          xhr.send(file)
        } else {
          vm.output('Please upload a smaller file (< ' + fileSizeLimit + ' MB).')
        }
      }
    }
  },
  created: function () {
    let vm = this
    vm.uniqNumber = Math.floor(new Date().valueOf() * Math.random())
    $(document).ready(function () {
      vm.ekUpload()
    })
  }
}
</script>
