<template>
  <input type="checkbox" :id="'icheck_'+uniqNumber" :name="name?name:'icn_'+uniqNumber">
</template>

<script>
export default {
  name: 'icheck',
  props: [ 'value', 'name', 'setValue' ],
  data: function () {
    return {
      uniqNumber: 0,
      localInputValue: null
    }
  },
  methods: {
    onChecked: function () {
      let vm = this; let value = vm.value
      if (Array.isArray(vm.value)) {
        if (!(vm.value.indexOf(vm.setValue) > -1)) {
          value.push(vm.setValue)
        }
      }
      vm.$emit('input', value)
    },
    onUnChecked: function () {
      let vm = this; let value = vm.value
      if (Array.isArray(vm.value)) {
        if (vm.value.indexOf(vm.setValue) > -1) {
          value = _.without(value, vm.setValue)
        }
      }
      vm.$emit('input', value)
    }
  },
  created: function () {
    let vm = this
    if (Array.isArray(vm.value)) {
      vm.localInputValue = (vm.value.indexOf(vm.setValue) > -1)
    }
    vm.uniqNumber = Math.floor(new Date().valueOf() * Math.random())
    $(document).ready(function () {
      $('#icheck_' + vm.uniqNumber).iCheck({
        checkboxClass: 'icheckbox_flat-green'
      }).on('ifChecked', function (event) {
        vm.onChecked()
      }).on('ifUnchecked', function (event) {
        vm.onUnChecked()
      })
    })
  }
}
</script>
