<template>
  <input type="radio" :id="'icheck_'+uniqNumber" v-model="value" :name="name?name:'icn_'+uniqNumber" :value="setValue">
</template>

<script>
export default {
  name: 'iradio',
  props: [ 'value', 'name', 'setValue' ],
  computed: {
    localValue: {
      get: function () {
        return this.value
      },
      set: function (value) {
        this.$emit('input', value)
      }
    }
  },
  data: function () {
    return {
      uniqNumber: 0
    }
  },
  created: function () {
    let vm = this
    vm.uniqNumber = Math.floor(new Date().valueOf() * Math.random())
    $(document).ready(function () {
      $('#icheck_' + vm.uniqNumber).iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
      }).on('ifChecked', function (event) {
        vm.$emit('input', event.target.value)
      })
    })
  }
}
</script>
