<template>
<div class="">
  <!-- Data Table -->
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href=".RequestProfileTabsCustomer" data-toggle="tab"><b>Customer</b></a></li>
      <li><a href=".RequestProfileTabsDeliveryArea" data-toggle="tab"><b>Delivery Area</b></a></li>
      <li><a href=".RequestProfileTabsReviews" data-toggle="tab"><b>Reviews</b></a></li>
      <li><a href=".RequestProfileTabsSetting" data-toggle="tab"><b>Setting</b></a></li>
      <li><a href=".RequestProfileTabsUpgrade" data-toggle="tab"><b>Upgrade</b></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane RequestProfileTabsCustomer active">
        <DataTable :has_data="customer.length>0">
          <template #header>
            <th class="id-column">Select</th>
            <th>Avater</th>
            <th>ID</th>
            <th>Name</th>
            <th>Total Spent</th>
            <th class="option-column">Options</th>
          </template>
          <tr v-for="(data, index) in customer" :key="index">
            <td>
              <div class="checkbox">
                <label><input type="checkbox" value=""></label>
              </div>
            </td>
            <td><img :src="data.avater" height="35px"></td>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.totalSpent }}</td>
            <td>
              <a href="#" class="btn btn-info btn-table"><i class="fa fa-eye"></i></a>
            </td>
          </tr>
        </DataTable>
      </div>
      <div class="tab-pane RequestProfileTabsDeliveryArea">
        <DataTable :has_data="deliveryArea.length>0">
          <template #header>
            <th class="id-column">Zip Code</th>
            <th>Delivery Cost</th>
            <th>Cart Balance</th>
            <th>Delivery Fee</th>
            <th class="option-column">Options</th>
          </template>
          <tr v-for="(data, index) in deliveryArea" :key="index">
            <td>{{ data.zipCode }}</td>
            <td>{{ data.deliveryCost }}</td>
            <td>{{ data.cartBalance }}</td>
            <td>{{ data.deliveryFee }}</td>
            <td>
              <a href="#" class="btn btn-info btn-table"><i class="fa fa-edit"></i></a>
              <a href="#" class="btn btn-danger btn-table"><i class="fa fa-close"></i></a>
            </td>
          </tr>
        </DataTable>
      </div>
      <div class="tab-pane RequestProfileTabsReviews">
        <ShopActivityReview></ShopActivityReview>
      </div>
      <div class="tab-pane RequestProfileTabsSetting">
        <div class="box box-solid">
          <div class="box-body">
            <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
              How to receive the Orders
            </h4>
            <div class="media"></div>
            <div class="media-body text-center">
              <div class="clearfix">
                <label>
                  <input type="radio" name="r3" class="flat-red" id="show13">
                  By Fax
                </label>
                <label style="margin-left: 40px;">
                  <input type="radio" name="r3" class="flat-red" id="show23">
                  By E-Mail
                </label>
                <label style="margin-left: 40px;">
                  <input type="radio" name="r3" class="flat-red" id="show33">
                  BY UMTS
                </label>
              </div>
              <div id="div33" style="display: none;">
                <br><br>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-8">
                  <input type="text" placeholder="" class="form-control" id="how_much">
                </div>
                <div class="col-md-1">
                  <a href="#" class="btn btn-primary">Save</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane RequestProfileTabsUpgrade">
        <div class="box box-solid">
          <div class="box-body">
            <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
              How to receive the Orders
            </h4>
            <div class="media"></div>
            <div class="media-body text-center">
              <div class="clearfix">
                <label>
                  <input type="radio" name="r3" class="flat-red" id="show13">
                  By Fax
                </label>
                <label style="margin-left: 40px;">
                  <input type="radio" name="r3" class="flat-red" id="show23">
                  By E-Mail
                </label>
                <label style="margin-left: 40px;">
                  <input type="radio" name="r3" class="flat-red" id="show33">
                  BY UMTS
                </label>
              </div>
              <div id="div33" style="display: none;">
                <br><br>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-8">
                  <input type="text" placeholder="" class="form-control" id="how_much">
                </div>
                <div class="col-md-1">
                  <a href="#" class="btn btn-primary">Save</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import DataTable from '@/components/DataTable.vue'
import ShopActivityReview from '@/views/activity/ShopActivityReview.vue'

export default {
  name: 'ProfileTabs',
  components: {
    DataTable, ShopActivityReview
  },
  data: function () {
    return {
      customer: [
        {
          id: '8452200',
          name: 'Dave Robert',
          avater: '/images/user-dave-robert-35x35.png',
          totalSpent: '85,00 €'
        },
        {
          id: '8452200',
          name: 'Dave Robert',
          avater: '/images/user-dave-robert-35x35.png',
          totalSpent: '85,00 €'
        },
        {
          id: '8452200',
          name: 'Dave Robert',
          avater: '/images/user-dave-robert-35x35.png',
          totalSpent: '85,00 €'
        },
        {
          id: '8452200',
          name: 'Dave Robert',
          avater: '/images/user-dave-robert-35x35.png',
          totalSpent: '85,00 €'
        },
        {
          id: '8452200',
          name: 'Dave Robert',
          avater: '/images/user-dave-robert-35x35.png',
          totalSpent: '85,00 €'
        },
        {
          id: '8452200',
          name: 'Dave Robert',
          avater: '/images/user-dave-robert-35x35.png',
          totalSpent: '85,00 €'
        },
        {
          id: '8452200',
          name: 'Dave Robert',
          avater: '/images/user-dave-robert-35x35.png',
          totalSpent: '85,00 €'
        },
        {
          id: '8452200',
          name: 'Dave Robert',
          avater: '/images/user-dave-robert-35x35.png',
          totalSpent: '85,00 €'
        }
      ],
      deliveryArea: [
        {
          zipCode: '30159 bult',
          deliveryCost: '1,50 €',
          cartBalance: '15,00 €',
          deliveryFee: '35,00 €'
        },
        {
          zipCode: '30159 bult',
          deliveryCost: '1,50 €',
          cartBalance: '15,00 €',
          deliveryFee: '35,00 €'
        },
        {
          zipCode: '30159 bult',
          deliveryCost: '1,50 €',
          cartBalance: '15,00 €',
          deliveryFee: '35,00 €'
        },
        {
          zipCode: '30159 bult',
          deliveryCost: '1,50 €',
          cartBalance: '15,00 €',
          deliveryFee: '35,00 €'
        },
        {
          zipCode: '30159 bult',
          deliveryCost: '1,50 €',
          cartBalance: '15,00 €',
          deliveryFee: '35,00 €'
        },
        {
          zipCode: '30159 bult',
          deliveryCost: '1,50 €',
          cartBalance: '15,00 €',
          deliveryFee: '35,00 €'
        }
      ]
    }
  }
}
</script>
