<template>
<div class="CustomerUser">
  <section class="content-header">
    <h1>
      YamiYami Users
      <small>Customers</small>
    </h1>
    <ol class="breadcrumb">
      <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
      <li class="active">YamiYami Users</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-body">

        <!-- Data Table -->
        <div class="">
          <DataTable :has_data="datas.length>0">
            <template #header>
              <th>Select</th>
              <th class="id-column">ID</th>
              <th>Avater</th>
              <th>Name</th>
              <th>Email</th>
              <th>Registered</th>
              <th>Purchases</th>
              <th>Total Spent</th>
              <th>Status</th>
              <th class="option-column">Options</th>
            </template>
            <tr v-for="(data, index) in datas" :key="index">
              <td class="sorting_1"><input type="checkbox" name="check"></td>
              <td>{{ data.id }}</td>
              <td><img :src="data.avater" height="35px"></td>
              <td>{{ data.name }}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.registered }}</td>
              <td>{{ data.purchase }}</td>
              <td>{{ data.spent }}</td>
              <td>
                <a href="#" @click.prevent="" class="btn btn-success btn-table" v-if="data.status=='Active'">{{ data.status }}</a>
                <a href="#" @click.prevent="" class="btn btn-warning btn-table" v-if="data.status=='In Active'">{{ data.status }}</a>
                <a href="#" @click.prevent="" class="btn btn-danger btn-table" v-if="data.status=='Suspended'">{{ data.status }}</a>
              </td>
              <td>
                <BsModal
                    type="green"
                  >
                  <template #button>
                    <span class="btn btn-info btn-table"><i class="fa fa-eye"></i></span>
                  </template>
                  <template #title>
                    {{ data.shopName }}
                  </template>
                  <div class="container-fluid">
                    <section class="content-header">
                      <h1>PartyService Profile</h1>
                      <ol class="breadcrumb">
                        <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
                        <li class="active">PartyService Profile</li>
                      </ol>
                    </section>
                    <br/>
                    <div class="row">
                      <div class="col-sm-3">
                        <ProfileBox></ProfileBox>
                        <AboutBox></AboutBox>
                      </div>
                      <div class="col-sm-9">
                        <ProfileTabs></ProfileTabs>
                      </div>
                    </div>
                  </div>
                </BsModal>
                <BsModal
                    smaller
                    type="white"
                    :height="70"
                  >
                  <template #button>
                    <span class="btn btn-success btn-table"><i class="fa fa-close"></i></span>
                  </template>
                  <template #title>
                    Shop Options
                  </template>
                  <div class="container-fluid text-center">
                    <a href="#" class="btn btn-warning" style="margin-right: 20px;padding: 6px 40px;">Suspend</a>
                    <a href="#" class="btn btn-danger" style="padding: 6px 40px;">Deactivate</a>
                  </div>
                </BsModal>
              </td>
            </tr>
          </DataTable>
        </div>

      </div>
    </div>
  </section>
</div>
</template>

<script>
import DataTable from '@/components/DataTable.vue'
import BsModal from '@/components/BsModal.vue'
import ProfileBox from '@/components/ProfileBox.vue'
import AboutBox from '@/components/AboutBox.vue'
import ProfileTabs from '@/components/ProfileTabs.vue'
import { mapState } from 'vuex'

export default {
  name: 'CustomerUser',
  components: {
    DataTable, BsModal, ProfileBox, AboutBox, ProfileTabs
  },
  computed: {
    ...mapState({
      datas: state => state.customerUser.datas
    })
  },
  created: function () {
    this.$store.dispatch('getCustomerUserData')
  }
}
</script>
