<template>
  <div class="Home">
    <section class="content-header">
      <h1>
        News Letters
        <small>Marketing</small>
      </h1>
      <ol class="breadcrumb">
        <li><router-link to="/"><i class="fa fa-dashboard"></i> Home</router-link></li>
        <li class="active">News Letters</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

    </section>
  </div>
</template>

<script>
export default {
  name: 'MarketingNewsLatter'
}
</script>
