<template>
  <div id="app" class="wrapper">
    <ThemeHeader></ThemeHeader>
    <MainSidebar></MainSidebar>
    <div class="simple-scroll">
      <div class="content-wrapper">
        <router-view/>
      </div>
    </div>
    <!-- <ThemeFooter></ThemeFooter> -->
    <ControlSidebar></ControlSidebar>
    <div class="control-sidebar-bg"></div>

  </div>
</template>

<script>
import ThemeHeader from '@/components/ThemeHeader.vue'
import MainSidebar from '@/components/MainSidebar.vue'
// import ThemeFooter from '@/components/ThemeFooter.vue'
import ControlSidebar from '@/components/ControlSidebar.vue'

export default {
  name: 'Theme',
  components: {
    ThemeHeader, MainSidebar, ControlSidebar
  },
  created: async function () {
    $(document).ready(function () {
      $('.wrapper .content-wrapper').slimScroll({
        color: '#555',
        alwaysVisible: false,
        height: 'calc(100vh - 55px)',
        distance: '0px'
      })
    })

    // this.$store.dispatch('checkUserInfo', { vm: this })
    this.$store.dispatch('getRequestData')
    this.$store.dispatch('reports/getTicketUserData')
  }

}
</script>
