.sidebar-footer {
  bottom: 0;
  clear: both;
  display: block;
  padding: 5px 0 0;
  position: fixed;
  width: 230px;
  background: rgb(0, 166, 90);
  z-index: 999;
}
.sidebar-footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 33.3%;
  font-size: 17px;
  display: block;
  float: left;
  cursor: pointer;
}
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
  background: rgba(255, 255, 255, 0.3) !important;
}
.sidebar-mini.sidebar-collapse .main-sidebar .hidden-small {
  visibility: hidden;
}
.user-panel .img-circle {
  min-height: 45px;
  min-width: 45px;
}
.user-header .img-circle {
  height: 90px;
  width: 90px;
}
.user-header {
  height: 115px !important;
}
.table .btn-table {
  padding: 0px 12px;
  margin: 0px 1px;
}
.table .id-column {
  min-width: 8% !important;
  width: 8% !important;
}
.table .option-column {
  min-width: 14% !important;
  width: 14% !important;
}
.tabs-left {
  border-bottom: none !important;
  border-right: 1px solid #ddd !important;
  li {
    float: none !important;
    margin:0px !important;
    a {
      border: 1px solid transparent !important;
    }
  }
  li.active{
    a, a:hover, a:focus {
      border-bottom-color: #ddd !important;
      border-right-color: transparent !important;
      background:#00a65a !important;
      border:none !important;
      border-radius:0px !important;
      margin:0px !important;
      width: 95% !important;
      color: #fff !important;
    }
    a::after{
      content: "";
      position: absolute;
      top: 10px;
      right: -10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #00a65a;
      display: block;
      width: 0;
    }
  }
}
.wizard.tab-5 li {
  width: 19% !important;
}
.tab-content .box hr{
  border-top: 1px solid #eee !important;
}
.header-modal {
  .close {
    left: -90px;
    position: relative;
    background: #fff;
    padding: 20px 12px !important;
    i {
      color: #2c3f4c !important;
    }
    i:before{
      content: "\f00d";
    }
  }
  .modal-header {
    height: 0px;
    padding: 0px;
  }
}
.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all 0.2s ease;
    user-select: none;
  }
  label:hover, label.hover {
    border: 3px solid #454cad;
    box-shadow: inset 0 0 0 6px #eee;
  }
  #start {
    float: left;
    clear: both;
    width: 100%;
    i.fa {
      transform: scale(0.8);
      opacity: 0.3;
      font-size: 50px;
      margin-bottom: 1rem;
      transition: all 0.2s ease-in-out;
    }
  }
  #response {
    float: left;
    clear: both;
    width: 100%;
    #messages {
      margin-bottom: 0.5rem;
    }
  }
  #file-image {
    display: inline;
    margin: 0 auto 0.5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
  }
  #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
  }
  #start.hidden, #response.hidden, #file-image.hidden, #notimage.hidden {
    display: none;
  }
  progress, .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }
  .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }
  .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
  }
  .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
  }
  input[type="file"] {
    display: none;
  }
  div {
    margin: 0 0 0.5rem 0;
    color: #5f6982;
  }
  .btn {
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
  }
}
.main-header {
  z-index: 1015 !important;
}